[2016-02-02 14:47] joshwcomeau opened #1 "Consider using a higher-order component to pre-convert Children props"
When passing props to a child component, React will not do any automatic type conversion: it can either be an array of elements, or a single element object.

This means that in order to be assured that I can map/reduce/filter through children, I have to use the `React.Children.toArray` helper. This helper mutates the keys, which means I have to use it in all cases, even when it's already an array.

[2016-02-03 13:17] joshwcomeau opened #2 "Stuttering in Webkit & Firefox"
Sadly, while the animation is silky smooth in Chrome, Safari and Firefox are having some problems.

The problem is that it paints between the calculation step and the start of the animation. So the element goes from its original position, to its final position (for a handful of milliseconds), and then back to its original position to be animated to the final position.

It's relatively rare in Fire

[2016-02-06 21:29] #2 closed

[2016-02-06 21:33] joshwcomeau commented on #1
This could also be used to convert props to the correct types (props like `duration` and `delay` need to be Numbers)

[2016-02-08 14:02] joshwcomeau commented on #1
Decided to build my own higher-order component. PR: https://github.com/joshwcomeau/react-flip-move/pull/3

[2016-02-08 14:02] #1 closed

[2016-02-23 16:22] bmueller-sykes opened #7 "Internal array not getting reset?"
Hi,

Apologies if this is an ill-formed question/issue. I've been toying around with this library, which seems super cool and very smooth, and during one of my tests I've stumbled across something that is either a bad implementation on my part (for which I'm unclear how to resolve) or a bug in the library. I'll paste in my code below, but the gist is this: I created a simple grid, with a "shuffle"

[2016-02-23 16:32] joshwcomeau commented on #7
Interesting! I have a few ideas for what it could be.

Can you do me a favour and temporarily remove the calls to `this.setState()` in `handleMoveStart` and `handleMoveFinish`? And let me know if the number of `render()` calls is still increasing on every shuffle (and, if so, by the same amount?).

Either way, I'm pretty sure this is a bug in _my_ implementation, not yours :) I will try and get it

[2016-02-23 16:34] bmueller-sykes commented on #7
For the record, it appeared in both 1.0.4 and 1.1.0. (I just realized I wasn't sure what version I was on, and wanted to make sure this wasn't just due to an old version).

yes, I'll try that test now.

[2016-02-23 16:41] bmueller-sykes commented on #7
Okay, removing `setState()` in `handleMoveStart()` and `handleMoveFinish()` causes things to function normally--there's no explosion of render calls.

As I wrote this test code, I kind of thought to myself "this is probably not the right way to do this", but given that the goal is to abstract the tile data away from the UI data, putting a "moving" flag in the data external to the `<Grid>` call see

[2016-02-23 16:51] joshwcomeau commented on #7
Yeah, I suspected something like that was happening.

Exposing some sort of `moving` flag in the library makes a ton of sense! I'm not sure what the best way to do that would be though. My first thought would be to add a class name directly, sorta like ReactCSSTransitionGroup:

[code]

I like this idea because I don't want to assume that all children passed to FlipMove are components; you might wa

[2016-02-23 17:28] joshwcomeau opened #8 "Allowing FlipMove to work on elements further down the tree?"
Right now, Flip Move only works on direct children. That means that something like this won't work:

[code]

Sometimes, because of the joys of CSS, it is necessary to wrap elements like this. This is taken from a side project of mine, where I need the `Cell` components to be vertically centered within wrapper components.

### Potential solution
Last night I spent an hour tinkering with the source,

[2016-02-23 17:35] bmueller-sykes commented on #7
My understanding is that the React community in general is moving away from CSS in favor of inline style calls (for a couple of reasons, not the least of which is that inline style calls lend themselves more seamlessly to React Native), so if you want to allow for a "movingClassName", I would also encourage you to add an `isMoving` flag.

As for `onFinish` vs. `onAllFinish`, assuming that it can s

[2016-02-23 18:11] joshwcomeau opened #9 "React Native support?"
In Ben Alpert's React.js Conf 2016 talk, he mentioned that animating lists is a massive priority in the coming months, especially for React Native; mobile apps often have tons and tons of lists, or are even list-based.

Despite finding it super intriguing, I have not yet had the chance to play with React Native at all.

Does anyone know if Flip Move has a place in React Native? Are there comparabl

[2016-02-23 23:03] joshwcomeau commented on #7
Yeah, I meant I'd add an `onAllFinish` in addition to the `onFinish`. It would be horrible of me to change how an existing API method worked!!

And yeah, that's a good point about the CSS modules trend. I guess for most practical purposes, you'd be animating child components and not regular DOM elements. I'm still a bit resistant to mutating the children in such a way, but I'd only be doing it whe

[2016-02-24 02:09] jbrantly opened #11 "Enter/Leave Animations"
In the readme you have:

I tried doing this and ran into some issues. With code roughly like:

[code]

I get `Uncaught (in promise) TypeError: Cannot read property 'componentWillAppear' of undefined` in Chrome.

The other issue is that when removing FlipMove from the mix (and just using ReactCSSTransitionGroup) I noticed that the transition group will keep the leaving elements in the DOM until the

[2016-02-24 03:15] joshwcomeau commented on #11
Yeah, in retrospect it was a mistake to suggest something completely untested in the README.

Really good point about items not leaving the DOM until their transition has completed; hadn't realized that but yes, it stands to reason that the remaining items won't start to squeeze in until after the transition ends.

I've received a couple requests to add built-in onEnter/onExit animations, so it's

[2016-02-24 03:15] #11 closed

[2016-02-24 04:20] joshwcomeau commented on #7
So, happily, someone else found the issue; I wasn't un-binding the `transitionEnd` event listener. This means that every time the animation finished, it was calling the supplied callback `n` extra times.

I accepted their PR and released a new version ; upgrade to v1.1.1 and your solution should work perfectly, and not degrade over time.

Now that this is fixed, I don't believe an `isMoving` flag

[2016-02-24 04:20] #7 closed

[2016-02-24 16:43] bmueller-sykes commented on #7
Confirmed! A few notes below, but before I forget, I wonder if in addition to `onAllFinish()`, I wonder if an `onAllStart()` might make sense as well.

I tested on a 2015 MacBookPro, and in Chrome, Safari and FF, the animation was super-smooth. Same with Safari, Chrome and FF on an iPhone 6s. IE11, Chrome and Firefox on Windows 8 running inside VMware on the MBP were a little jittery, though. I as

[2016-02-24 16:51] joshwcomeau commented on #7
Awesome :)

I can think of a few use-cases for `onAllStart`, but they're pretty obscure (if you pass in a `delay`, or if you only want something to fire when the props are different enough to warrant an animation). I'm hesitant to add stuff to the API that doesn't have a common use-case, but if there's one I'm missing, please share!

I did test FlipMove in general on an older windows machine, in C

[2016-02-26 01:34] cameronhimself opened #12 "Nested <FlipMove> lists don't animate properly"
I have a structure like this:

    <FlipMove>
        <div class="section">
            <FlipMove>
                <div class="item">...</div>
                <div class="item">...</div>
                <div class="item">...</div>
            </FlipMove>
        </div>
        <div class="section">
            <FlipMove>
                <div class="item">...</div>
                <div class="item"

[2016-02-26 12:06] joshwcomeau commented on #12
Hi Cameron!

A project I'm working on will require exactly this functionality, and I was hoping the nested FlipMoves would work. I'll take some time over the next few days to investigate, and hopefully there's an easy solution =)

As for having it animate between sections, that is functionality I spent an evening trying to implement. Ultimately it wound up being more complicated than I had hoped (

[2016-02-26 13:45] IamNotUrKitty commented on #12
@cameronhimself  if I correct understand You,  problem with child animation (when section position is changed) can be solved with `shouldComponentUpdate`. Check this [demo](http://codepen.io/iamnoturkitty/pen/YqKgRw).

[2016-02-26 19:11] cameronhimself commented on #12
@IamNotUrKitty I haven't tested your solution, but that certainly looks like it would work in my use case. The only problem I see is that it would involve adding a semantically irrelevant `ItemList` component. Not the worst thing in the world, but I'd prefer to have a clean `Section` -> `Item` hierarchy of components if possible. I'll definitely implement your solution if this issue isn't able to

[2016-02-27 01:11] joshwcomeau commented on #12
@IamNotUrKitty interesting!

Yeah, that's a good workaround, but really it shouldn't be necessary. I'm gonna see if I can find a way to account for it in the code base, but for now @cameronhimself, I would go with this solution.

[2016-02-27 12:27] joshwcomeau commented on #12
Ok, so I've had the chance to dig into the problem, and it's non-trivial. Because I'm using transform: translate, the changes are always happening relative to the parent. If the parent is moving as well, it can't easily take into account it's parent's movement, so it overshoots.

The problem with the codepen provided with @IamNotUrKitty is it does not allow both child and parent to move at the sam

[2016-02-27 12:31] joshwcomeau commented on #12
Also @IamNotUrKitty, I just realized I never thanked you for providing that codepen. Really appreciate how much effort you put into it :) thanks so much for your contributions to this project.

[2016-02-27 20:14] cameronhimself commented on #12
I can't speak in general, but for my particular project this would be a perfect solution. My sections and items only need to move vertically. Thanks for looking into it.

[2016-02-27 20:14] cameronhimself commented on #12
sorry, accidentally clicked close and comment!

[2016-02-27 20:23] joshwcomeau commented on #12
Hahaha no problem :) I've implemented that solution and it works well, but I want to refactor it and write some tests. Will likely push a new version with those properties in the next couple days :)

[2016-02-28 01:06] IamNotUrKitty commented on #12
@joshwcomeau you implement solution with `limitToAxis` prop?

I have some other idea with this problem, what if we will be calculate element position relative to his parent, it solves all problems and get some more abilities. Something like sections have items in grid view, and grid can be reordered.

 I implement it and make one more [demo](http://codepen.io/iamnoturkitty/full/grOvMB/).

If you t

[2016-02-28 02:59] joshwcomeau commented on #12
@IamNotUrKitty awesome! I was actually just playing with this today trying to get enter/exit animations working. Didn't realize it could work for this as well!

Feel free to submit a PR. Don't worry about specific test cases for this. If it passes the generalized case, that's good enough for me.

[2016-02-28 14:13] joshwcomeau commented on #12
Just asked a quick question on #13 - Will merge in as soon as I understand the Math.abs thing!

[2016-02-29 01:32] valentinvichnal opened #14 "Merge two wrapping component to one"
Hi, how should I merge 2 component when both component must be the parent of the child List elements to perform the actions on them?

Take for example, import 2 different Animate react library, both make some animation on a list of rendered items.

[code]

The items I wish to apply the animations to:
[code]

Best way to apply both to the items?
[code]

This code will break Animate1, it won't be ap

[2016-02-29 01:41] valentinvichnal commented on #9
The Framer framework has a list ordering functionality:
http://framerjs.com/examples/preview/#list-sorting.framer

The same with react-motion:
http://chenglou.github.io/react-motion/demos/demo8-draggable-list/

I found these so far.

[2016-02-29 01:45] joshwcomeau commented on #14
Yeah, I spent a night looking into the feasibility of making Flip Move work recursively. It worked, sorta, but it made a mess of the code and had performance implications (which could be alleviated by specifying a max "depth" to go, so you could limit it to grandchildren).

Flip Move does introduce a wrapping <div>, so it would not be composable out-of-the-box.

Can you provide a more real-world e

[2016-02-29 01:55] joshwcomeau commented on #12
@cameronhimself this functionality is enabled in v1.2.0. There is no need to change the API; if you upgrade to that release, everything should work automatically :)

[2016-02-29 01:55] #12 closed

[2016-02-29 01:57] joshwcomeau commented on #9
@valentinvichnal I'm familiar with that example :) Flip Move isnt actually about making the nicest animations, it's about tackling the situation of a component being handed new props, and not knowing how to animate them.

This issue is about React Native, though. Have you played with React Native at all?

[2016-02-29 01:59] joshwcomeau commented on #8
Closing this. I think I'm happy enough not introducing this for now :)

[2016-02-29 01:59] #8 closed

[2016-02-29 02:00] valentinvichnal commented on #14
It is true two animate wrapper component on a list is not a frequent task,
my problem is to combine an outer InfiniteScroll component with the nested FlipMove which contains the list items. It is somewhat related to your other issue #8 , in this case there are no style-only div elements but React.js componenst.

Many react libraries wants to impact direct child list elements only, so I am looking

[2016-02-29 02:10] cameronhimself commented on #12
works beautifully for me! thanks @joshwcomeau and @IamNotUrKitty

[2016-02-29 02:29] valentinvichnal commented on #9
@joshwcomeau I have not really yet, played with some backend DDP and some sortable stuff like this: https://github.com/hayeah/react-native-SortableList
This week I hope to have some time to understand React Native and how things differs.

[2016-03-02 01:25] joshwcomeau commented on #14
Yeah, I hear you. I'm afraid I don't have an easy solution to the problem.

Infinite scrolling can probably be done manually, though. Not sure you need a component for that :)

Closing, because I don't intend on solving this problem with this project. Sorry!

[2016-03-02 01:25] #14 closed

[2016-03-02 12:58] joshwcomeau commented on #9
I'm hoping to play around with it soon as well :) Let me know what you discover

[2016-03-03 00:09] valentinvichnal commented on #14
No worries! I have created a simple scrolling manually, this is enough for now and it works with flip-move.

[2016-03-03 13:58] joshwcomeau commented on #7
Hey @bmueller-sykes!

Just a quick note; I released Flip Move v1.3 which features an `onFinishAll` callback :)

Its signature is similar to `onFinish`, except it is provided arrays of elements/domNodes instead of individual ones.

Still no `onStartAll`; it doesn't strike me as 100% necessary, and I want to keep the API footprint as small as possible.

[2016-03-03 15:44] bmueller-sykes commented on #7
#hero

[2016-03-15 01:46] #9 closed

[2016-03-15 01:46] joshwcomeau commented on #9
Closed, because I don't have the time to explore :)

[2016-03-21 05:04] shubhamsizzles opened #15 "Shared element transition across routes?"
FLIP animation techniques were first used in card-expanding animations in the chrome dev summit site.
Is there any way to animate cards across react routes using this library?
Something like shared element transitions on Android.
eg. https://youtu.be/94q_8nOiGKk?t=27s

[2016-03-21 12:48] joshwcomeau commented on #15
Afraid not; the aim of this library is much more specific, to animating list re-orderings (basically using the FLIP technique to do what Ryan Florence's Magic Move library does, with a few small bells and whistles).

A generalized FLIP animations library is not a bad idea, but it's not this project :)

Best of luck!

[2016-03-21 12:48] #15 closed

[2016-03-21 20:49] BrianWalters commented on #11
Love this lib. Has saved me so much time already. What is your plan for adding Enter/Leave animations? Or any strategies we can use in the meantime?

You can sometimes add a css animation on the elements being FlipMove'd, which works well for a "enter" transition. I haven't figured out a good way to do exit animations, since the element is gone the moment React knows it should be gone.

[2016-04-02 20:19] flux627 opened #16 "Fade out removed elements"
I'm not sure if this should be the responsibility of FlipMove, but it would be a nice touch. Any advice on where I should be looking to learn how to implement this would be helpful.

[2016-04-03 19:55] joshwcomeau commented on #16
Yeah, sadly onExit animations turned out to be much more trouble than anticipated. It's something I'd like to add in at some point, but I don't have the time at the moment.

A so-so solution is you can do them sequentially; first fade out the element(s) that are about to be removed, and then re-arrange the existing animations. With a short fade, this actually looks pretty neat, but of course it de

[2016-04-03 19:55] #16 closed

[2016-04-04 19:33] aight8 commented on #11
Hey! Any plans for this functionality?

[2016-04-04 21:00] aight8 opened #17 "Possibility to keep own ref to the particular items or make accessable"
I added refs to the items to access it in my component, because I need the nodes for scrolling reason. I need the DOM node object of them.
Currently there is no way to access the underneath cloned items. Because of the propConverter decorator it's not possible to access the FlipMove refs and fetch a particular item component.
I tried with the react-shuffle library and there it's possible and every

[2016-04-05 12:23] aight8 commented on #11
What about positioning a copy of the leaving element as absolute position relative to the container, then apply to it the leave animation. The leaved element must not removed to the dom in the current render cycle since at the end of the animation is must be invisible. This "leaveing" element must be appended in the render method to the "real" current childrens. It's another way like react's React

[2016-04-05 14:12] joshwcomeau commented on #11
The method you suggest is what's used by [React Magic Move](https://github.com/ryanflorence/react-magic-move), and it's anathema to me; It introduces the overhead and performance cost of duplicating every DOM node that is being transitioned, and it would complicate the source code SO much. I believe it would introduce a ton of side effects as well; if the node has an `id`, you'd then have multiple

[2016-04-05 14:19] joshwcomeau opened #18 "Enter/Exit animations"
A few people have asked about Enter/Exit animations.

I think it's possible to keep in line with the [FLIP](https://aerotwist.com/blog/flip-your-animations/) methodology. Here's how I envision exit animations working:

* When the component receives new props, we check to see if any items are about to be removed
* We instead keep those elements, but apply an immediate style (something like `transfo

[2016-04-05 14:27] joshwcomeau commented on #17
So, I'm a little annoyed by the dig about enter/leave animations. Totally unrelated to this issue, doesn't exactly make me want to help you with your problem.

It might be possible to expose the ref, but I'm not thrilled with the idea of complicating the API for such an obscure use-case. Nobody else has needed access to the refs, and I'm trying to keep the footprint as minimal as possible.

If you

[2016-04-05 15:35] aight8 commented on #17
Yep I'm currently forked this library and implemented the method w/o the decorator - I don't see 100% why a decorator is needed since there is no encapsulation benefit and the type conversation is not the standard React way. The problem can be solved to remove the decorator again OR just decorate the FlipMove object in a separte file (that will be used in index.js) so people can use the plain Flip

[2016-04-05 16:05] aight8 commented on #18
For the enter part: When you insert the new item you have to start w/o scale: 0 to calculate the items delta coordinates. After calculation of the positions the scale: 0 need's to be applied. I don't think you will see any kind of flicker since I the browser don't render this, but keep that in mind.

The rest seems very reasonable even this preset thing

[2016-04-05 16:14] joshwcomeau commented on #18
Right, yeah. Thanks to `requestAnimationFrame`, we can access computed layout positions before the paint, so we can apply all this without flicker :) I remember having some weirdness with Safari (I think I had to let an extra frame pass?), but for the most part, things work as expected.

[2016-04-05 16:18] joshwcomeau commented on #17
Yeah, I'm just using the decorator to make the main lib code more readable and simpler. Because props are immutable inside the component, I needed a higher-order component to pre-format them.

What is the "standard React way"?

Yeah, I suppose while this is a really narrow problem, there may be many similar narrow problems that can be solved by making the base class available.

If you have an idea

[2016-04-05 21:39] mauriciosoares opened #19 "Temporarily disable animation"
Hey, is there a way I can temporarily disable all the animations from `FlipMove`? like a property or something like this: `<FlipMove disableAnimations={true} />`.

The reason I need to do this is that there are some situations that I don't want my components to be animated, and even if I pass `duration="0"`, it still flashes a little bit, like the animation happens extremely fast, but still I can

[2016-04-06 01:33] joshwcomeau commented on #19
@mauriciosoares, this is a good point!

I just fixed this, by adding a `disableAnimations` boolean prop. v1.4 now includes this property :)

Let me know if you have any issues!

[2016-04-06 01:33] #19 closed

[2016-04-06 01:42] mauriciosoares commented on #19
Thanks @joshwcomeau!! that'll help me a lot.

Well, my example. Consider I have a list of items, and I can sort/edit these items.

When I'm sorting the items, it has a smooth animation, which is great! but when I click in the edit button, it opens a form inside the small cell, and it occurs an animation with the cell "opening", but the animation kinda breaks...

Perhaps this poor drawn picture wil

[2016-04-06 13:51] mauriciosoares commented on #19
Just to let you know, the `disableAnimations` property works flawlessly. And solved my problem!

Thanks man.

[2016-04-06 14:06] joshwcomeau commented on #19
Awesome! Glad to hear it helped, and thanks so much for the thorough example =)

[2016-04-08 17:07] marcus433 opened #21 "Prop to Determine Pre-set Translations"
Regarding "Existing transition/transform properties will be overridden", for the present what if react-flip-move checked for a prop on the children for example `translate3d={[x, y, z]}`. I believe this would be a valid solution for now as the user most likely will know the translations of their elements before hand. It also saves the need to parse existing CSS properties which may lessen the anima

[2016-04-08 17:32] joshwcomeau commented on #21
Hi Marcus!

In general, I'm a fan of keeping as small an API footprint as possible. I like the spirit of what you're proposing, but I don't like the idea of needing to track half a dozen new properties on the children. It's also a bit mind-bending; took me a couple read-throughs to understand what you meant.

I think the ideal solution is just to compare the currently-applied styles, and "diff" be

[2016-04-08 19:48] marcus433 commented on #21
Alrighty, sounds good! I'll look into it further. I'm quite interested in achieving this as it will allow support for virtual scrolling implementations!

[2016-04-08 20:42] joshwcomeau commented on #21
👍 . Let me know if you have any questions about the source code.

[2016-04-08 21:23] marcus433 commented on #21
Alright sounds good! So far i've got the parser done. Still need to add matrix support however. It can be seen over at [TransformParser](https://github.com/marcus433/TransformParser/tree/master). I plan to have it done and a pull request ready in the next day or 2 :-).

[2016-04-09 12:05] joshwcomeau commented on #21
Cool. I like the idea of the parser being its own module, since it's a totally separate concern. Plus, other projects might benefit from it! Seems like a general problem that surprisingly hasn't been solved yet, as far as I can see.

That code is very terse, though. It's impressive, but it's hard to decipher. Totally up to you, but maybe we could make the variable names more semantic? Really, as l

[2016-04-09 16:46] marcus433 commented on #21
Indeed, the code is terse. I ran it through google closure as it generally makes some good optimizations which is important for this. I'm planning to comb through it and write it all in clean ES6 though. Looking forward to enter/exit animations!

[2016-04-09 19:55] joshwcomeau commented on #18
Just a heads-up that I've got a basic implementation working perfectly :) There were a bunch of implementation issues but I think I've solved most of the problems. Will spend some time this weekend figuring out what the public API ought to be, updating the docs, and adding some sort of demo.

So yeah, help no longer needed, but I'll link to a PR soon.

[2016-04-09 23:15] marcus433 commented on #21
I should implement this in componentWillReceiveProps and getPositionDelta, correct?

[2016-04-10 00:18] marcus433 commented on #21
I haven't gotten around to writing tests yet, I have however tested it and everything is working! You can check it out over at [marcus433/react-flip-move](https://github.com/marcus433/react-flip-move). Also, I ended up not having a module for the parser as it's too much overhead to have a separate module and I ended up having to do a few specific things in it that wouldn't be required for non reac

[2016-04-10 00:30] marcus433 opened #22 "Extra Div"
I recently noticed that after any divs are animated they are encapsulated within another div. To note: It says translate3d rather than translate as I am using my fork.
![screen shot 2016-04-09 at 5 27 52 pm](https://cloud.githubusercontent.com/assets/4731718/14407315/9ad48336-fe78-11e5-8e93-b7d1dd50a6e7.png)

[2016-04-10 01:26] maxsalven commented on #18
Fantastic, thank you! One idea for animations might be to have new items enter from eg above the browser window, and departing items exit via eg the bottom of the browser window. Flags control which specific direction things enter/exit from. The shrink/expand theme sounds great too.

[2016-04-10 11:58] joshwcomeau commented on #21
Awesome! Will check it out shortly. Thanks :)

[2016-04-10 12:05] joshwcomeau commented on #18
Actually, I could really use feedback for the API.

Right now there's a single new prop, `enterExitAnimation`. You can pass it:

* `false` to disable enter/exit animations
* a String, to select one of the presets (right now I have "elevator", "fade", "accordianVertical", and "accordianHorizontal"
* an Object with the custom properties you want.

For the custom object, it expects something like:

[

[2016-04-10 12:07] joshwcomeau commented on #22
Very strange. I'm trying to replicate that problem now and I'm not able to... is it possible it's relating to the fork?

If not, can you provide more details about how you got that to happen? What props, what do the children look like?

[2016-04-10 17:54] #17 closed

[2016-04-10 18:13] marcus433 commented on #22
Never mind, my bad, it's something outside of the fork entirely. Sorry for the trouble.

[2016-04-10 18:13] #22 closed

[2016-04-10 18:22] marcus433 commented on #18
I can definitely get this working with the transform preserver. Regarding the API, I think presets and a custom object are a great way to go about it.

[2016-04-10 18:29] pvande commented on #18
@joshwcomeau Question: any reason not to break apart the prop into separate enter and leave variants?  `<Element enterTransition="fade" exitTransition={false} />` seems a little cleaner and more natural, without complicating the implementation too much.

I'm unsure whether `exit` or `leave` is more correct, or whether the properties would be better named `enterAnimation`, `enterEffect`, or `enterT

[2016-04-10 20:09] joshwcomeau commented on #18
@pvande Thanks for the feedback!

I made a mistake in my initial post; Related to exit vs. leave, I've decided to go with `leave` because it conforms more to convention. JS has `mouseenter` / `mouseleave`, ReactCSSTransitionGroup uses `transitionEnter` / `transitionLeave`, etc.

I'm pretty conflicted on whether they should be 2 attributes or 1. I agree that having them separate looks and feels cle

[2016-04-10 20:18] joshwcomeau commented on #22
No problem!

[2016-04-10 20:30] marcus433 commented on #18
How about a `transition` property and if it isn't present then it checks for transitionEnter & transitionLeave?

[2016-04-10 20:52] pvande commented on #18
@joshwcomeau `leaveTransition` feels grammatically strange to me (hence the mention of `exit`) but it's not awful, and as you point out, there's prior art.  (We could also get into a discussion as to whether "enter" and "exit" or "leave" are even the right terms for set addition and removal, but I'm not going to push the issue any further.)

I agree that the values will often be the same, but 95+%

[2016-04-10 21:50] joshwcomeau commented on #18
Yeah, I thought about having a default, but that's extra logic that people have to learn about. Doesn't feel as simple as two properties.

As it stands now, I have `enterAnimation` and `leaveAnimation`. I think I want to use "animation" over "transition" because to me, `enterTransition` feels like it should take a duration for the animation, not a description of the animation itself. Partially bec

[2016-04-10 22:03] marcus433 commented on #18
What i'm proposing is if they are the same one only needs an `animation` property. Of course it isn't necessary, they could still just use a `enterAnimation` and `leaveAnimation` but it is a nice thing to have. It shouldn't lead to people having to learn anything more as it is entirely optional.

Thus:

`<FlipMove animation="fade"></FlipMove>`
can still be represented as
`<FlipMove enterAnimation=

[2016-04-10 22:11] joshwcomeau commented on #18
Yeah, I understand. I still think it could lead to some confusion; I always find it a bit odd when there are multiple ways to do the same thing, even if it's meant as a convenience.

The bigger issue I see is naming it. `animation` is too general, since the primary purpose of this library is to animate list re-orderings, and this doesn't affect that. `enterLeaveAnimation` was my original idea, but

[2016-04-11 00:55] marcus433 commented on #21
I've been working on getting the enter/leave animations to work with pre-existing translations however i've ran into a problem due to the new top, left, right properties. Why is this being used rather than a translate to the top/left/right position like before?

[2016-04-11 01:11] marcus433 commented on #21
Never mind, it has to do with something else.

[2016-04-11 02:43] joshwcomeau commented on #21
Appreciate your speediness! I'm hoping to launch 2.0 tomorrow morning (still need to repair the tests, and make sure it works in a couple of less-isolated situations).

To answer your question, essentially to get enter/exit animations to work, I need to take exiting elements out of the flow. Ideally we want it to appear exactly the same, but for the browser's rendering engine to ignore it when cal

[2016-04-11 05:35] pvande commented on #18
I agree completely on the naming and semantics issues; I just wanted to make sure the questions were at least mentioned.  "xAnimation" is a perfectly sensible choice, and is likely to be easily discovered.

`changeAnimation` (or `onChangeAnimation`) could be a decent stand-in for the convenience name, but requires an understanding that it's watching for changes to the *set*, not the *ordered list*

[2016-04-12 02:30] joshwcomeau commented on #18
Launched :D use version 2.0.2 for enter/leave animations.

Thanks everyone for your feedback. The API is much better as a result :)

Let me know if you run into any weirdness; I did a fair bit of testing and caught half a dozen obscure bugs, but there may be more. This was a significant rewrite, which nearly doubled the amount of code involved.

[2016-04-12 02:30] #18 closed

[2016-04-12 02:56] joshwcomeau commented on #21
@marcus433 I had another fantastic idea, for a problem your work could solve.

Right now, when an animation is interrupted, items "snap" to their end position and start animating from there. This is because the rendering engine doesn't take `transform: translate` into account when it figures out where everything is at first.

A better solution would be to save its initial current "transform" prope

[2016-04-12 03:45] marcus433 commented on #21
@joshwcomeau Sure! I'll look into it later this week :-)

[2016-04-12 15:03] ellerycrane opened #25 "Enter/leave animations set to false triggers console errors"
When enter/leave animations are set to 'none' or false, I see lots of console errors:

![image](https://cloud.githubusercontent.com/assets/784493/14464765/3eaa5cfc-009e-11e6-985a-9998e58b4b0c.png)

[2016-04-12 15:52] joshwcomeau commented on #25
Ack. Looking into this now. Thanks for the heads-up!

[2016-04-12 16:05] benwaffle opened #26 "Doesn't work in firefox"
I'm using Firefox 47.0a2 (developer edition)

[2016-04-12 16:10] joshwcomeau commented on #26
Shit. It's because of an inconsistency with `getComputedStyle`.

Found the issue, will hopefully deploy a fix within the hour.

[2016-04-12 16:48] joshwcomeau commented on #26
ok! Just published a fix.

Really sorry about that; I neglected to do any browser testing with the final product. Will go through it much more carefully in the coming days to ensure full compatibility, but I tested it with a wide variety of enter/exit animations and can't find any problems :)

[2016-04-12 16:48] #26 closed

[2016-04-12 16:58] joshwcomeau commented on #25
Just published v2.0.5, which fixes this issue. Sorry about that!

[2016-04-12 16:58] #25 closed

[2016-04-13 07:30] NgoKnows opened #28 "Adding style to container"
I was wondering if it was possible to style the container of the animated children. For example, I wanted to have the children be in a flexbox layout. Something like this:

[code]

Otherwise, would the only way of making the elements horizontal would be applying styles to the children themselves?

Thanks for any help.

[2016-04-13 11:02] joshwcomeau commented on #28
Yeah, good point.

I have yet to jump 100% on the inline-styles bandwagon, so I've been using the `className` prop on the container for flexbox and other container styles. That's not an option for everyone, though.

Will add this as a prop.

[2016-04-13 11:06] NgoKnows commented on #28
Sounds good! Thanks for the prompt response!

[2016-04-13 11:24] nbostrom opened #29 "Automatically disable animations of nested FlipMove components while a parent is animating."
Nested FlipMove components can lead to weird animations.

We could automatically disable animations of child FlipMove components while a parent is animating to prevent this.

I could probably fix this for my app in user land using `context`, `onStart`, `onFinish` and `disableAnimations`, but if you want this feature in core I could take a stab at it.

[2016-04-13 12:37] joshwcomeau commented on #28
Done! You can use `style` prop as-expected in the just-published v2.1.

[2016-04-13 12:37] #28 closed

[2016-04-13 12:42] joshwcomeau commented on #29
Hmm. A month or two ago, this came up; nested FlipMove animations were glitchy and weird, and it's because we were judging position relative to the viewport, instead of relative to the parent container.

I'll play with this in a bit and see for myself what the weirdness is, this time. My reflex is that it's probably an uncommon-enough use case to not be worth complicating the codebase for (making

[2016-04-13 18:05] neagle opened #31 "Something broken in sizing / position in v2"
Hi! First off, thanks for your work on this project: I added v1.4 to a project at work last week and it's been dynamite. It's wonderful to be able to add such attractive animations to React transitions.

Here's an example of the widget I've been working on using v1.4 of `react-flip-move`, working as desired:

![animation-working](https://cloud.githubusercontent.com/assets/176993/14503771/865a1178-

[2016-04-13 19:32] joshwcomeau commented on #31
Ack!

I have a vague idea what's going on; I won't bore you with the details, but when items are exiting, I position them absolutely. I do my best to make them stay in the exact same place, using bounding boxes, computedstyles, and offsetting margin, and it's worked in every case that I've seen until this one!

So, I definitely want to help you fix this, so that the module can handle whatever smal

[2016-04-13 22:54] neagle commented on #31
Unfortunately, it's not open source. Let me see if I can recreate the module in a standalone way tomorrow. Thanks for your willingness to help!

--
Nate Eagle

[2016-04-13 23:19] benwalks commented on #31
Hi @joshwcomeau, I'm having what I think might be a similar issue.

![react-anim](https://cloud.githubusercontent.com/assets/8383204/14512371/e2cd0a30-0221-11e6-82f8-598af62c281d.gif)

The styling for each of those 'answers' is:

`.collab-answer-wrapper {
      background-color: #FFF;
      border-radius: 20px;
      padding: 1em 2em;
      margin-bottom: 1em;
      .collab-answer {
        font-s

[2016-04-14 00:00] joshwcomeau commented on #31
Hey @benwalks,

There's definitely something weird going on here. The items should be shifting up out of the way, when a new item is introduced. And, from what I can see, it looks like the exit animation isn't positioning itself properly, similar to Neagle's issue. Can you please share:

* The styles on the parent? It seems like you're vertically centering all the items (both the FlipMove and the

[2016-04-14 00:06] benwalks commented on #31
Great, thanks Josh.  I was justing looking, perhaps it's flexbox related?

This is the component more or less:

[code]

This is the SCSS for that whole section.

[code]

[2016-04-14 01:31] arunoda opened #32 "Awesome use of React Stories"
Hey,

I'm one of the creator of React Storybook, I just saw you've used Storybook with your app. That's a pretty cool use of it.

We experimented with a way to deploy Storybook to GH pages and it works.

* [Demo](http://kadira-samples.github.io/react-button/)
* [Code](https://github.com/kadirahq/react-cdk/blob/master/generators/app/templates/.scripts/publish_storybook.sh)

We'll make it generalize

[2016-04-14 06:44] nbostrom commented on #29
Yeah, really sorry about this. I should really update the lib before posting issues. Everything seems to work fine now. Thanks for your hard work on this and for looking into my totally unnecessary issue ;)

[2016-04-14 06:44] #29 closed

[2016-04-14 10:38] joshwcomeau commented on #29
No problem! Happy to hear it :)

[2016-04-14 10:48] joshwcomeau commented on #32
Hi Arunoda!

First, thanks so much for your work on React Storybook, Mantra, and Flow Router. I always enjoy Kadira releases =)

GH pages deploy is huge; At work we're moving to React and we'd like to use Storybook not only for dev but as a library of components for the Product team to browse and review. We were going to start investigating a way of deploying it, so I'm glad to hear that work is u

[2016-04-14 15:01] arunoda commented on #32
Awesome. Will update you with a PR.

[2016-04-15 01:45] joshwcomeau commented on #31
hey @benwalks!

Alright, so I've been able to successfully re-create the bug, and I understand the issue, but it's a tough one.

Essentially, in order for the animation to work, I need to take items that are being removed out of the document flow, so that the siblings can treat it as though it doesn't exist, and slide into its location as it fades away.

I position it absolutely, and try to figure

[2016-04-15 01:45] joshwcomeau commented on #31
@neagle let me know if you can re-create your issue; I think it may be unrelated, and hopefully easier to fix!

[2016-04-15 01:47] benwalks commented on #31
No worries @joshwcomeau, thanks for being awesome.

[2016-04-15 21:22] ConneXNL opened #33 "Document & apply the "typeName" property in the examples"
According to https://www.w3.org/TR/html-markup/ul.html you are only allowed to wrap a `<li>` elements in an `<ul>`. Yet the examples of React-flip-move wrap a div inside the ul.

I was looking for a solution in my project when i found the "typeName" property in the code but this is not documented. I also suggest to make the examples use this "typeName" to prevent the
`<ul><div><li></li></div></ul>

[2016-04-16 20:19] marcus433 commented on #21
Been a bit busy. Should be able to get it done either today or tomorrow

[2016-04-16 23:31] joshwcomeau commented on #33
Hey,

Ack! Can't believe I forgot to document `typeName`. I also forgot `className` and `style`.

You're absolutely right about the examples not corresponding to the HTML spec. Went ahead and used the `typeName` property to ensure there's no intermediate div between the list and list items.

Thanks for pointing it out :)

[2016-04-16 23:31] #33 closed

[2016-04-16 23:31] joshwcomeau commented on #21
No worries :)

[2016-04-17 23:49] joshwcomeau commented on #31
Happy day @benwalks! I found a solution!

The solution, as it stands right now, causes another edge case to fail (if you supply a custom enter/leave preset that has a `transform: translate` property). Work being done by @marcus433 should allow me to fix this edge case and pen a proper release :)

In the meantime, if you want to use the fix, it is published to NPM under `2.1.1-beta1`. If you use th

[2016-04-18 00:01] marcus433 commented on #21
Hey @joshwcomeau in your latest `flexVertical` branch commit is there support for setting the transition back to the original after flip-move has reached it's desired position (finished animating)?

[2016-04-18 11:40] benwalks commented on #31
Awesome Josh, thank you. Ill let you know how it works tomorrow!

[2016-04-18 23:07] joshwcomeau commented on #21
Hey @marcus433,

That branch doesn't really handle that; it does two things:

* For items that are entering/leaving, it also calculates their transition. Initially, it only bothered if the items were NOT entering/leaving
* The enter/leave presets were modified to set translate to 0 at the end. This helps ensure that both the start and end positions are respected (I think; I dont remember off the t

[2016-04-19 01:05] benwalks commented on #31
Hey Josh, just tested and am getting the following error.  Any thoughts?

[code]

[2016-04-19 17:48] rubencodes opened #34 "Error when setting enterAnimation and leaveAnimation props to false."
Hello,

First off, thank you for your work on this project! I absolutely love it to death.

I wanted to disable the v2.0 enter/leave animations (*I* like it but my boss had reservations). When I set the props, to false, I received this error:
[code]

Worth noting that it still behaved properly and did disable the animation, but I did encounter this issue.

[2016-04-20 13:06] joshwcomeau commented on #34
Thanks for the kind words, and for letting me know about this issue!

Interesting. I'll take a look at that. I have a vague idea what could be causing it.

[2016-04-20 13:06] joshwcomeau commented on #31
Hm, very weird! Typically that means that the DOM node we're trying to relocate has already been removed from the DOM. I'll have a look and see if I can spot the problem.

[2016-04-20 16:26] hasPatrickC opened #35 "Add issue for bug referenced in example"
Hi,

Can you be more specific about which bug this refers to?

https://github.com/joshwcomeau/react-flip-move/blob/gh-pages/examples/components/1_Shuffle.jsx#L168

A) I'd love to try to help fix this.

and

B) I'd like to know what to look for when implementing a temporary workaround.

[2016-04-20 16:36] joshwcomeau commented on #35
Hi Patrick!

Yeah, good catch. I meant to do that, and totally forgot. I don't have the time right now to post a proper issue summary, but I'll look into this later today and open a proper issue for it!

[2016-04-20 17:09] hasPatrickC commented on #35
No rush, thanks for the quick reply!

[2016-04-20 17:32] emilecantin commented on #34
If it can help... I'm currently debugging through this issue, and it looks like it comes from the fact that this line:

[code]
returns `undefined`. I do have an item in `this.boundingBoxes` (and I have only one child item, so it should match, I think).

The `key` I get here is a weird string, though (`".$14611644139820"`), not the key I set on my element.

Would that be related?

[2016-04-20 17:37] emilecantin commented on #34
Looks like replacing the above line with the following solves the problem:

[code]
Want me to open a PR?

[2016-04-20 20:08] joshwcomeau commented on #34
So, that is definitely a fix, but it's addressing the symptom, not the cause.

`boundingBoxes` is an object that holds all "tracked" DOM positions, so that when it comes time to rearrange or remove them, it knows where they were _before_ the update. This bug sounds like I'm neglecting to add children to the `boundingBoxes` object.

I expect this to be a quick fix now that I see what the problem is

[2016-04-21 00:19] joshwcomeau commented on #32
Thanks @arunoda! Going to close this now but will accept a PR at your convenience :)

[2016-04-21 00:19] #32 closed

[2016-04-21 00:46] joshwcomeau commented on #31
Hey @benwalks! I'm gonna create a new issue, since this issue is unrelated to the original one, and it's getting a little too cluttered for me. Will post my latest findings there and CC you :)

[2016-04-21 00:46] #31 closed

[2016-04-21 00:56] joshwcomeau opened #36 "FlexBox weirdness with exit animations when aligned vertically"
@benwalks pointed out that there's some exit animation weirdness in v2 when using flexbox to center vertically.

I believe I solved that problem by also transitioning items that are exiting, as well as modifying the presets to reset transition, and released a beta version for testing. However, that introduced a new, much more serious problem, and this issue will try to debug that.

---

So, the pr

[2016-04-21 01:39] joshwcomeau commented on #35
Hey @hasPatrickC,

Ok! I fixed the problem. Gonna write it up, in case anyone finds it interesting.

I have an `onFinishAll` handler that fires when all animations have completed. The way I know about this is with a counter; when an item needs to be animated, I increment it. When the item finishes animating, I decrement it.

Once all items have finished animating, I need to do some cleanup, by rem

[2016-04-21 01:39] #35 closed

[2016-04-21 01:42] joshwcomeau commented on #35
Also, one small thing I noticed when troubleshooting is that the counter is actually completely unnecessary. I keep an array of elements that need to be animated, and could just as easily use its length as the counter, instead of a dedicated variable. Maybe, by checking uniqueness, we could solve this problem as well?

[2016-04-21 01:59] joshwcomeau commented on #34
Hmm, so I'm unable to reproduce the issue locally. I read through the code and I can't see any problems with it, either.

To confirm, the message is shown when you pass the following props:

[code]

When does the error pop up? When items are shuffled, removed, or added?

Can you share more info about the context the error happens in?

Thanks :)

[2016-04-21 08:30] rubencodes commented on #34
That is correct! The error for me happens always on first leave (and then doesn't happen again).

[2016-04-21 18:41] hasPatrickC commented on #35
Wow, thank you for the detailed writeup. I'll try to make some time to poke around and see if there's anything I can help with. Getting react-flip-move up and running was super simple so thanks for open sourcing this!!

[2016-04-21 18:43] emilecantin commented on #34
I think my issue might be different... I get it on initial load, and it doesn't depend on the animation props, I get the error even with a simple declaration like that:
[code]
My children items are pretty complex, however, and it doesn't happen when it's already rendered on the server. I also have another `<FlipMove>` deeper into the hierarchy. Also, the children are shown after a fetch from the s

[2016-04-21 20:30] joshwcomeau commented on #34
@emilecantin thanks for the additional info!

If you can reproduce it in a codepen I would super super appreciate it. It's tough when you can't replicate an issue, because I know this is probably affecting a lot of people but I don't know how to fix it.

Also, I never answered your question about the `key`. I use React.Children.toArray`, which modifies the keys, but in my experience it just prefix

[2016-04-22 16:51] havenchyk opened #37 "Wrong animation with nested transition"
Hi, first of all thanks for your amazing work!

I came across the problem, when the child element has transition, in this case all the animations, including first level child ( list item for which i would like to enable animation). Hope it's clear :)

[2016-04-22 18:40] havenchyk commented on #37
I guess this https://github.com/joshwcomeau/react-flip-move/issues/29 relates

[2016-04-22 21:02] joshwcomeau commented on #37
Hi,

Thanks for the kind words!

I'm not sure I understand the problem... I understand that there's something wrong with nested FlipMoves, where the children are being affected by the parent. Is it enter/exit animations? General transition settings like `duration`?

If you can provide a snippet (or, better yet, a codepen) that showcases the problematic situation I would greatly appreciate it :)

[2016-04-22 21:11] havenchyk commented on #37
Actually, I'll try to reproduxe with codepen, but the reason of issue is somewhere in the scheme:
- FlipMove
    - item
    - item
    - item

And inside the item I have e.g. button with "transition: .1s background-color", that breaks the animation of moving the item.

[2016-04-22 21:25] havenchyk commented on #37
So to disable this behavior I need to add workaround like
- add class to override transition to none on startAnimation
- remove this class and on afterAnimation

It's the only solution I see, but in docs you said that fleepMove will override the transitions.

[2016-04-23 13:44] joshwcomeau commented on #37
Hmm, I can't reproduce this. For me, items _inside_ the FlipMove items work just fine.

I tried to recreate the situation you described:
[code]

And it works perfectly.

If you can please create a codepen that showcases the problem, it would help me understand :)

[2016-04-23 13:47] havenchyk commented on #37
Yeah, it's my case, I'll try to reproduce on codepen tiday, thanks!

[2016-04-25 08:26] havenchyk commented on #37
Probably I've got it. http://codepen.io/VladimirHavenchyk/pen/VaBdOM?editors=0010 @joshwcomeau please, click on button 1 and don't move your mouse, just click again and again, I guess, you will see the problem. It's not the original issue, but I faced it as well.

[2016-04-25 14:04] joshwcomeau commented on #37
Ah-ha!

Thanks so much for taking the time to put the pen together :)

I definitely see the issue; the hover effect is affecting the button's ability to transition smoothly. Will try to fix in the next day or two.

Weird that it isn't the original issue, but I'll tackle this one and hopefully it'll fix both!

[2016-04-28 01:19] joshwcomeau commented on #37
I found the problem!

The issue was I had registered an `onTransitionEnd` handler to do some necessary cleanup after the FlipMove transition had completed. Because events propagate, the hover effect's transition was triggering this cleanup prematurely, which was causing the item to "jump" to its new position.

v2.1.2 fixes this issue :) Please reopen if there are any other issues!

[2016-04-28 01:19] #37 closed

[2016-04-28 12:19] joshwcomeau commented on #21
Hi @marcus433!

Just a quick check-in; are you still interested in pursuing this? It's ok if you aren't :) I'm happy to give it a shot.

Let me know!

[2016-04-28 12:20] joshwcomeau commented on #34
Hi @emilecantin,

Sorry to bug you, but have you had the chance to create a codepen repro? Would love to get this fixed :)

Thanks!

[2016-04-28 12:45] emilecantin commented on #34
Not yet, I've been pretty busy lately...

[2016-04-29 14:09] DiogoDoreto opened #38 "Children not being removed"
I've found 3 cases where children are not being removed from DOM:

1. When `disableAllAnimations` is `true`.
2. When using a browser that do not support CSS transitions.
3. Firefox ( [jsbin](http://jsbin.com/cuceciyega/edit?js,console,output) )

Edit: added Firefox case.

[2016-04-30 03:14] marcus433 commented on #21
Hey @joshwcomeau,

Apologies for the late reply. Yeah I'll definitely pick up the pace on pursuing this :-). I haven't had much free time recently. If you could find a way to persist the original translation after the flip-move is done that would make it way easier for me to get this working. I'd do it myself but it will take longer as I obviously don't have as much knowledge about the setup as yo

[2016-05-01 12:44] joshwcomeau commented on #38
Hi - Thanks for the report!

Will definitely push out a fix shortly for the first concern; that's an awful bug!

I'm not too concerned about supporting browsers lacking CSS transitions; it seems like [most modern browsers do](http://caniuse.com/#feat=css-transitions), and I'm pretty sure other things would be broken in IE 9 and lower :)

[2016-05-03 14:08] vermiliongrey opened #39 "OnFinishAll doesn't fire when when disableAllAnimations=true"
I imagine this shares the same root cause as #38, but I thought I'd file a separate report just in case.

[2016-05-03 16:53] matthewoates opened #40 "Doesn't animate parent size on add/remove"
Hey Josh,

Really like the project. I'm using the `FlipMove` component inside of an isolated div, and then there are components before and after that div. The containing div's size changes without animation when you add and remove elements. I think the example here http://joshwcomeau.github.io/react-flip-move/examples/#/shuffle?_k=inhhwi gets around this by cheating a little. You'll see that the +

[2016-05-03 16:59] matthewoates commented on #40
Derp. "Is there a way to get the parent div size to animate smoothly?" Of course there is. Another CSS animation.

I got around this by precalculating the height of the `FlipMove` component and then attaching a `transition: 'height 1s`. Would be nice if this was supported natively by the library, but I'm not sure how to get around the hardcoding of the height.

[2016-05-03 19:44] DiogoDoreto commented on #38
I agree about not fully supporting browsers that don't have CSS transitions, but since React itself do support IE 9, I think that it's a good idea to a least not break the usability.

I have the requirement of supporting IE 9 on my project. Right now I'm testing if CSS transitions exists and if not, I set both enter/leave transitions to `none` (will change to set the value of `disableAllAnimations

[2016-05-03 19:56] DiogoDoreto opened #41 "Request: add onStartAll callback"
... to pair with onFinishAll :)

Example use case: having an `animating` class on the parent node only when the animation is happening.

[2016-05-03 20:38] DiogoDoreto commented on #39
Maybe this is an expected behavior. The way I see it is like this: if animations are disabled then they are not starting therefore not ending as well. To me it makes sense not triggering callbacks.

[2016-05-03 20:45] joshwcomeau commented on #39
It is indeed intended behaviour! `onFinish` callbacks only fire at the end of transitions. if there's no transition, there's no need to fire a callback.

If animations are always disabled, it is easy enough to just fire the method whenever the props change. if the animations are variable, it's a bit trickier...

What's your use-case? Maybe there's a reason to enable them that I haven't thought of

[2016-05-03 20:48] joshwcomeau commented on #41
Yeah, hmm. My initial reasoning for not having this is that it's really simple to fire arbitrary events at the _start_, you can just add a callback to `componentDidReceiveProps`.

But, it's much less simple to be able to trigger things on the children, and the onFinish callbacks do provide references to the element.

Will investigate this!

[2016-05-03 20:55] joshwcomeau commented on #40
Yeah no I see what you mean. I am indeed cheating in the demo, although to me it just made sense; if I want something to do the Flip animation, it should be wrapped by FlipMove :)

The children don't have to all be the same size/shape; you can probably do this too, by just wrapping everything. It may require a restructuring of your code, since all children need to be shallowly rendered (not inside

[2016-05-03 20:55] #40 closed

[2016-05-03 20:56] DiogoDoreto commented on #41
The thing is that animations may or may not happen when data changes. Having the callback inside the library would guarantee that if you have the start event then you know that you will have an end event as well.

[2016-05-04 12:41] joshwcomeau opened #42 "Remove dist/ files from main branch, serve via CDN"
I'm really sick of having to check in the built and minified js files. They clutter up diffs, and I often forget to build before committing.

The solution is to use something like [jsDelivr](https://github.com/jsdelivr/jsdelivr/blob/master/CONTRIBUTING.md) to serve those files.

Will spend some time soon getting this done.

[2016-05-04 12:44] davidkpiano commented on #42
Can you add it to the `.gitignore` but not the `.npmignore`? And just have them build with a `prepublish` script.

[2016-05-04 13:03] joshwcomeau commented on #42
@davidkpiano indeed, but I want to have it be available as a link, so people can use a script tag in a fiddle and play around with it.

Blew my mind when I discovered you can publish stuff to NPM that is not committed to github, already using the trick for the `lib` files :)

[2016-05-04 13:06] joshwcomeau commented on #38
Hey @DiogoDoreto!

So, I took your suggestion and disabled all animations by default when CSS transition support isn't detected.

Here's a PR: https://github.com/joshwcomeau/react-flip-move/pull/43

Small detail: I'm using `onTransitionEnd` as the mechanism for telling if CSS transitions are available or not, which may be subtly different than support for CSS transitions in general. I did some qui

[2016-05-04 13:06] davidkpiano commented on #42
www.npmcdn.com 😉

[2016-05-04 13:07] joshwcomeau commented on #42
:0

Thank you!

[2016-05-04 13:12] joshwcomeau commented on #42
`4 files changed, 4 insertions(+), 951 deletions(-)`

Lovely. Really appreciate it :)

[2016-05-04 13:12] #42 closed

[2016-05-04 15:40] DiogoDoreto commented on #38
Hey! I'm sorry, I'll be able to test this only tomorrow. But looking at the code, I think that this check should be enough (and even preferable since that is what your code really needs).

But it's worth noting that the test is only relevant when the first item of this issue is fixed.

Aside from this, yes FlipMove is "working" in IE9 if I set animations to `'none'`... I'm using the virtual machin

[2016-05-05 09:16] DiogoDoreto commented on #38
@joshwcomeau I found out that Firefox (v45.0.2, Win7/10) is not removing elements as well. I made a small example: http://jsbin.com/cuceciyega/edit?js,console,output

If you open in Chrome, you will see different number of dom elements being logged. If you open on Firefox, it's always 10.

[2016-05-05 10:28] DiogoDoreto commented on #38
Researching a bit more about Firefox, the problem seems to be in [this line](https://github.com/joshwcomeau/react-flip-move/blob/097ce158918534da146209510d314e671ccc7465/src/FlipMove.js#L386). Firefox doesn't include the `srcElement` property to the transitionend event.

[2016-05-05 12:30] joshwcomeau commented on #38
Damn @_@ no clue where I got `srcElement` from.

Thanks for pointing it out! Will make the switch and do some testing now :) BTW if it interests you, you can definitely submit PRs for this! You found the bug, you should get credit for it. Otherwise I'm happy to do it myself.

For the original issue: I believe this change fixes both 1. and 2.! The difference is that before, when no animations were

[2016-05-05 12:57] DiogoDoreto commented on #38
Hey, just tested here and it's working! :D

I don't mind, you can change this yourself...

Thank you very much!
Looking forward for the new version release now ;)

[2016-05-06 01:21] vermiliongrey commented on #39
Ah, I see. That makes sense.

I was originally trying to find a work around for #38 by setting isDisableAnimation to false after render. But I guess once #38 is fixed, it won't be an issue for my use case.

[2016-05-06 12:04] joshwcomeau commented on #39
Hi @vermiliongrey!

Just released v2.1.3, which fixes the `disableAllAnimations` bug :)

For me, there's always a tricky balance between 100% support for every desired feature, and keeping the API small and manageable. There's already something like 14 different settings that can be tweaked with props, and so I'm trying to be super selective with new additions.

I'll keep an ear open and if I see

[2016-05-06 12:04] #39 closed

[2016-05-06 12:11] joshwcomeau commented on #38
Ok! Finally had some time this morning, and I pushed fixes to the three issues found :) published v2.1.4

Thanks again for all your help @DiogoDoreto! Please let me know if you encounter any more weirdness!

[2016-05-06 12:11] #38 closed

[2016-05-06 12:13] DiogoDoreto commented on #38
Thank you for quick responses and fixes! :+1:

[2016-05-06 12:29] joshwcomeau commented on #41
Done :) v2.2.0 has a symmetrical `onStartAll` callback!

I actually forgot that I had added an `onStart` callback, which is why I was hesitant to add this one. Once I remembered that I had already been convinced to add an `onStart`, adding `onStartAll` just made sense

[2016-05-06 12:29] #41 closed

[2016-05-06 12:31] joshwcomeau commented on #36
Going to close this, as I am unable to replicate the conditions needed to fix it.

If anyone else experiences similar problems, please open a new issue :) I have a potential fix that I just need to debug.

[2016-05-06 12:31] #36 closed

[2016-05-07 01:30] joshwcomeau opened #45 "Allow for graceful interrupts"
Right now, if an animation is interrupted, the results can be jerky. By considering the current translation at the start of the transition, we should be able to transition from that origin to the destination.

[2016-05-07 01:37] joshwcomeau opened #46 "Improve documentation formatting"
Right now, the documentation exists in a massive table. This worked alright originally, but it's feeling really cluttered now. Plus, it looks all messed up on [NPM](https://www.npmjs.com/package/react-flip-move).

I'd much rather move to a simple, markdown-based system like [Caolan's Async](https://github.com/caolan/async#each), with the name of the prop in a big-ish header, a paragraph explaining

[2016-05-07 01:46] joshwcomeau opened #47 "Look into spring-based motion"
I really like [React Motion](https://github.com/chenglou/react-motion). While I wouldn't want to include it as a dependency for this project, it may be possible to create an optional, spring-based transition.

Worth looking into!

[2016-05-07 12:02] joshwcomeau opened #48 "Refactor code to gather DOM manipulation in one place"
As it stands, Flip Move does what it needs to do in a very linear way; methods on the component are grouped by function (`computeInitialStyles`, `addChildToAnimationsList`, `runAnimation`, etc).

I think it would be better if anything that touches the DOM is moved to an external module. There are a bunch of benefits to this:

* Easier testing, can mock out those methods in unit tests
* Support for

[2016-05-07 23:03] joshwcomeau commented on #48
After going through this, I'm realizing that it may be beneficial to leave things the way they are. Too much abstraction is a bad thing, and I don't want to separate the logic unnecessarily.

Closed, until there becomes more enticing reasons to reconsider :)

[2016-05-07 23:03] #48 closed

[2016-05-08 00:02] #46 closed

[2016-05-08 12:12] joshwcomeau commented on #21
Hey @marcus433,

Sorry I never replied to your last comment!

So it turns out I kinda need to solve this problem for #45. I realized that probably the best way to do this is to convert all transforms to matrices. I'm still learning how they work but it _sounds_ like you can combine matrices by just multiplying them together.

The steps that I'm seeing are:

* Create a parser that can turn any CSS

[2016-05-08 21:41] marcus433 commented on #21
Hey @joshwcomeau,

It's fine!

So what we could potentially do is get computedStyle and parse that matrix as it takes into account all transformations. I have done this here: https://github.com/marcus433/react-flip-move/blob/master/src/helpers.js#L40. In the CSS3 Matrix the modification of x, y positions is rather easy as they are simply attributes of the matrix, however rotations etc require calc

[2016-05-08 21:44] marcus433 commented on #47
http://dynamicsjs.com/ may be a good option. It's quite lightweight and its interface would work well with the flip-move setup.

[2016-05-09 01:38] Spicykoala opened #50 "Pass attributes to container element."
I have a situation where the container element needs to have a couple attributes set. Is there a way to pass attributes on to the container element (similar to how you can currently pass styles)?

[2016-05-09 08:27] vermiliongrey commented on #45
this would be really useful, I tried using FlipMove in junction with a live list filter and it didn't work because of the interruptions.

[2016-05-09 15:34] joshwcomeau commented on #21
Awesome. You're totally right about relying on the native CSS parser, that's a great idea.

This looks really great! Will work on persisting the original transform props; pretty busy this week but hopefully I'll find some time soon :)

[2016-05-09 15:35] joshwcomeau commented on #50
Hmm, yeah actually it probably makes sense to introduce a `containerProps` param that simply passes whatever props you pass onto the container.

Can you elaborate on your usecase? Maybe there's a short-term workaround.

[2016-05-09 15:36] joshwcomeau commented on #47
Awesome, that does look good.

[2016-05-09 16:12] Spicykoala commented on #50
For this specific case, it loads HTML and creates a React structure from it. e.g.
[code]

becomes..

[code]
The main problem is the need for an exact structure with inline styles (it's being used to generate an email) so I'm unable to use style sheets for what would otherwise be pretty trivial. Fun, right? :)

Thanks for this awesome tool by the way, it really does work fantastic - just a small hi

[2016-05-11 12:36] joshwcomeau commented on #50
Sorry for the late reply!

So, yeah. This is a pretty specific use-case, and I'm hesitant to add to the API for issues that affect a small minority of issues.

That said, I actually do see merit in ditching `className` and `style` from the API props, and replacing it with `delegatedProps`. You pass it an object like:

[code]

And it just passes those props to the wrapping container. It could be us

[2016-05-11 20:37] jamby opened #51 "No more dist folder?"
Was wondering where the folder is for the distributed files are.

[2016-05-11 20:47] joshwcomeau commented on #51
I removed 'em from the repo.

The /dist (concatenated) and /lib (transpiled) files are still available via NPM, when you install it.

The other use-case, using a script tag when playing around in a jsbin, is now covered by CDN:

https://npmcdn.com/react-flip-move@2.1.4/dist/react-flip-move.js
https://npmcdn.com/react-flip-move@2.1.4/dist/react-flip-move.min.js

Let me know if there's a third use-c

[2016-05-11 20:47] #51 closed

[2016-05-11 20:50] jamby commented on #51
Messaged you on Reddit about this, but since I'm using it in a Rails project, I am trying to use it via rails-assets. Which uses bower.

I add this repo on rails-assets and it adds your project via a game called `gem 'rails-assets-joshwcomeau--react-flip-move`. That makes it so I have to do a require file inside another js file for me to use them (not sure if you're familiar with Rails asset pipel

[2016-05-11 20:54] jamby commented on #51
Also, not my choice to be still using it this way. I tried to get npm and package.json working for the project, but was denied by higher ups. I also tried "vendoring" the minified file, but then it got yelled at in code review because I should be using a gem.

Can never win.

[2016-05-11 21:06] joshwcomeau commented on #51
Blah. Sorry to hear that!

I am indeed familiar with Rails' asset pipeline, although it's been a while; I remember hating it, and it shocked me recently when I found out that Bower is still the package manager of choice.

I'm really happy to have gotten the /dist files out of the repo; they bloated git diffs, and were a hurdle for new committers. I'm not really willing to re-include them for a bur

[2016-05-11 23:32] marcus433 commented on #50
Would it not be simpler to simply grab all props and omit the ones flip-move uses? The only issue then would be if someone has a prop with the same name as one flip-move uses in which case it could be placed in delegated={}.

[2016-05-29 05:29] rubencodes commented on #34
FYI this error has started causing more significant (i.e. breaking) problems in my app, so I applied the above `var oldBox = this.boundingBoxes[key] || {left: 0, top: 0};` solution and it looks like all systems are go. Hope this gets solved eventually!

[2016-05-29 10:34] joshwcomeau commented on #34
Yeah, I think until I have time to do a deep debug, the band-aid solution is alright. Will fix :)

[2016-05-29 10:41] joshwcomeau commented on #34
ok, band-aid fix released!

[2016-05-29 10:41] #34 closed

[2016-05-29 12:53] joshwcomeau commented on #50
Done!

I like Marcus' idea of passing all non-Flip-Move props directly to the node. As it stands, there are no possible conflicts (since none of FlipMove's props are valid HTML attributes), so I don't even need a `delegated` object.

Simply apply whatever props you want to the `<FlipMove>`, and they'll be transferred down:

[code]

Thanks for bringing this up, @Spicykoala! And thanks for the idea,

[2016-05-30 12:59] joshwcomeau commented on #45
Hey @whitegrey,

I believe I've solved this problem :) It works perfectly for me, but I would like to have you and a couple other people test it in real projects before I accept the PR.

Can you please NPM install `react-flip-move@beta` and give it a go?

Thanks =D
-Josh

[2016-05-31 23:19] whitegrey commented on #45
Hey Josh,  thanks for the hard work!

It's not operating as I had hoped, although it's possible we may have been talking about different things. I took a short video of what it looks like on my end:

https://vid.me/1qP2

I've included the implementation details in case it's of interest:

[code]

[code]

[code]

[2016-06-01 13:35] joshwcomeau commented on #45
Ahhh, right; this is separate from what I fixed. I was specifically tackling re-order interrupts.

I have a short-term solution for you, and that's to debounce the typeahead by at least the length of the transition duration. So if you have a 300ms transition, only update the props at >=300ms intervals. This should fix the issue, and also be nicer to your server :)

But yeah, I will try and fix thi

[2016-06-03 11:57] joshwcomeau commented on #45
@whitegrey, I think I've more-or-less fixed it :) Can you please install and test `2.4.0-rc2`?

There are still some subtle issues when items are entered/exited in rapid succession, but I tried a similar use-case to yours and it works for me. It's miles above the glitchy retriggering in 2.3, but I wanna make sure there aren't some unintended consequences before I release it.

Thanks!

[2016-06-03 17:21] valentinvichnal commented on #45
Hey Josh,

I had a similar issue, in a Feed component I get the data from a Meteor collection.
Adding/removing documents too rapidly in the collection caused a bug, the old documents remained in the component and the new documents overlapped them.

I thought it was my fault but `rc2` solved this!
Thank you for keep maintaining your awesome library! :+1:

Quick question about key prop, do you think

[2016-06-04 12:20] joshwcomeau commented on #45
@valentinvichnal thanks for the kind words! Happy to hear that rc2 solved your issue, but a word of warning: there's a bug in that version that causes `onFinishAll` to not be called when items enter/exit frequently. It may have more serious consequences as well (memory buildup?). Still trying to understand/fix it.

So you actually can't use the map index if you want items to shuffle :) consider th

[2016-06-04 22:49] valentinvichnal commented on #45
Okay, cool thanks!
I've always used the documents' id from db as keys, and I was thinking to use map index where I don't need this id for other use, but your explanation makes sense. :)

[2016-06-10 11:14] whitegrey commented on #45
Hey Josh, sorry for the late reply,

RC2 definitely makes thing a lot better. There's still some stuttering when modifications are made too quickly: https://sendvid.com/2pj4rv0u

But it's definitely usable. I've added it to the live version of my project if you'd like to take a look at the implementation in action in case it help you: http://senpai.co

[2016-06-10 20:52] joshwcomeau commented on #45
hey @whitegrey,

That's a really cool project! Would you mind if I tweeted it? Flip Move gets downloaded quite a bit but I haven't seen many real-world implementations :)

As for the stuttering, I haven't had the chance to keep working on RC2. Will hopefully find some time in the next couple weeks.

[2016-06-13 10:03] Guuz opened #55 "FlipMove does not take CSS scale() into account."
Hello,

If FlipMove is used inside an element that is scaled the animation start positions are not correctly calculated. An easy example of this is to run this code on this page and use the demo functions:
http://joshwcomeau.github.io/react-flip-move/examples/#/shuffle
[code]

I've tracked the problem down to `getPositionDelta()`. This should fix it on the vertical axis:
[code]

I admit the use ca

[2016-06-13 12:47] joshwcomeau commented on #55
Hi @Guuz!

Yeah, you're not the first to point out that the PropConverter HOC gets in the way. I never really envisioned anyone extending the FlipMove class, and I see problems with the idea; for one thing, I don't have the discipline to guarantee consistency with internal methods. A patch version could break the extension.

That said, I'd probably be really frustrated in your shoes, since you hav

[2016-06-13 13:42] Guuz commented on #55
Thanks for the quick response!

I'd rather extend FlipMove then forking it. When I extend it it is much more declarative what I have done in my codebase. You don't have to guarantee internal consistency because with extending and overwriting functions comes a risk you should be willing to take. But it's less maintenance than forking. We can fix the version in NPM and just run an update and check o

[2016-06-14 11:53] joshwcomeau commented on #55
Yeah, fair point about extending v. forking.

Maybe I could add a prop like `positionCalculator`, a function that defaults to `getBoundingClientRect` but can be overwritten with any function that takes a DOM node as an argument and returns an object with position and size. I like this solution more than a simple `scale` prop because it's much more flexible, and could be used in a bunch of speciali

[2016-06-14 14:24] Guuz commented on #55
That's a very good solution! All the pieces were there but you found a way to combine them :-)

I'm also quite busy but I would like to give it a go. Hopefully this week! We'll keep in touch.

Thanks!

[2016-06-15 11:36] SDSLeon opened #56 "Problem with leave animation and scroll"
Animation start break if you have scroll, you scroll to the end and start delete items from the list;
                        staggerDurationBy={150}
                        duration={350}
                        enterAnimation='fade'
                        leaveAnimation='fade'

[2016-06-15 22:52] whitegrey commented on #45
Hah, thanks! Of course I don't mind, though to be honest, the project is still in beta and in a pretty rough state.

[2016-06-16 18:07] whitegrey opened #57 "Collapsing margins"
It seems like flip-move doesn't currently take collapsed margins into account when animating items. This is on 2.4.0-rc2.

[2016-06-17 04:51] pvande commented on #57
Also seeing this (or a related) issue.

![image](https://i.gyazo.com/f7c4a4a4bd1c44abcc4ad5b618a3cc7d.gif)

When triggered, the `exit` transition causes each section to jump downwards by about 14px, which happens to be the amount of padding that is applied to the top of each of the bolded headings.

[2016-06-17 07:38] Guuz commented on #55
I gave it a go and I think I got it working as you described. I'll work on the rough edges and will submit a PR soon.

[2016-06-17 08:06] AnuragSinghTomarr opened #58 "unable to use FlipMove inside child component"
I have a parent app component named as App inside that i am passing the child component as this.props.children.  Let say we have the child component as List, her i am unable to use <FlipMove></FlipMove> as it does not show any effect. I have used a boilerplate for mine project link - https://github.com/erikras/react-redux-universal-hot-example. here is mine files https://gist.github.com/AnuragSing

[2016-06-17 10:25] joshwcomeau commented on #58
Hi!

I _believe_ the issue is that your `<li>` needs to have a `display` property of `inline-block` or `block`. Very hard to move around inline elements, and `<li>`s default to `inline`.

Please reopen if that doesn't solve the problem :) Also, if it doesn't, can you put the files in a proper repo? I'll clone it and poke around.

Thanks!

[2016-06-17 10:25] #58 closed

[2016-06-17 10:28] joshwcomeau commented on #57
@whitegrey argh, collapsed margins are such a pain. Will add it to the backlog,

@pvande hmm, very strange. Is this on master or 2.4.0-rc2? Can you share all the relevant CSS (I suspect it's less about the individual items and more about some quirk with the parent and grandparent containers)

[2016-06-17 10:30] joshwcomeau commented on #56
Not sure I understand... Can you provide some more info? Do you mean a scroll event, or just window scrolling? What happens specifically if you scroll while the animation is in progress? An example .gif would be great :)

[2016-06-17 10:41] joshwcomeau commented on #55
:rocket:

[2016-06-17 10:41] #55 closed

[2016-06-17 10:48] AnuragSinghTomarr commented on #58
i have updated the code instead of ul and li tag now i am simply using  a div tag in mine home.js file here is the link https://gist.github.com/AnuragSinghTomarr/b728cb07ea571097fca18e2e4815bc03 , than also animations are not working

[2016-06-17 11:32] SDSLeon commented on #56
[flip-move-1.mp4.zip](https://github.com/joshwcomeau/react-flip-move/files/320338/flip-move-1.mp4.zip)
[flip-move-2.mp4.zip](https://github.com/joshwcomeau/react-flip-move/files/320343/flip-move-2.mp4.zip)

[2016-06-17 11:43] joshwcomeau commented on #56
Oh I see. Thanks for the videos!

Yeah, the problem is that the container's size instantly changes, it doesn't "transition". This has been discussed in #40.

Maybe I should work out an in-house solution since it seems to be a pretty common request. In the meantime, though, you can solve this problem by calculating and animating the parent container size yourself :) hopefully that issue (#40) can p

[2016-06-17 15:39] pvande commented on #57
@joshwcomeau I'm currently running v2.3.0.

Relevant styles:

[code]

[2016-06-17 19:46] AnuragSinghTomarr opened #61 "issue reference to #58 issue"
i have updated the code instead of ul and li tag now i am simply using a div tag in mine home.js file here is the link https://gist.github.com/AnuragSinghTomarr/b728cb07ea571097fca18e2e4815bc03 , than also animations are not working

[2016-06-18 11:03] whitegrey commented on #45
It seems that 2.4.0 proper seems to have broken part of the fixes introduced in rc2.

Here's a video:
https://vid.me/Y1UP

in comparison to rc2:
https://vid.me/aLzZ

[2016-06-22 12:33] joshwcomeau commented on #61
Hi @AnuragSinghTomarr,

Weird, I don't see anything wrong with that code. Are you getting any error messages? Is the issue that when `this.props.popular` changes, the items just instantly appear in their new position? Is it both enter/leave animations *and* shuffling that isn't working, or just one of them?

Sorry for the delay, been a busy week!

[2016-06-26 04:55] AnuragSinghTomarr commented on #61
hi @joshwcomeau

enter/leave animations and shuffling none of them are working

[2016-06-26 12:36] joshwcomeau commented on #61
Very weird. The code related to FlipMove is very simple and looks correct, but there's a fair bit of additional logic that may be affecting it somehow.

I think in order to help diagnose and fix the problem, I need either:

* a link to the full repo, so I can run it locally and poke around, or
* a jsbin that replicates the issue

A quicker solution would be to try [React Shuffle](https://github.co

[2016-06-26 13:05] joshwcomeau commented on #57
Hey @pvande and @whitegrey,

So I've had a chance to play with this a bit and I believe it is the same issue; margins are collapsed, so `getComputedStyle` returns a margin value of 0px.

This is problematic because, when I take things out of the document flow and position them absolutely, I subtract any applicable margins. I'm not subtracting the collapsed margin.

I'm going to keep the issue open

[2016-06-28 21:14] GilbertMizrahi opened #62 "Example of onStart function"
Great library.
This is not an issue. Can you write an example of how a onStart function would look like.

I want to animate the list items (flex items) when they first appear. Similar to transitionAppear on react-addons-css-transition-group. I am using React Flip Move to animate when adding/removing items and it works great, but I want to also animate onStart.

[2016-07-08 12:26] valentinvichnal commented on #45
Yes unfortunately 2.4.0 broken again.

[2016-07-08 12:27] valentinvichnal commented on #45
Yes unfortunately 2.4.0 broken again in my project too.

[2016-07-08 14:06] joshwcomeau commented on #45
yeah, sorry guys; 2.4 wound up being an unrelated patch. 2.4 rc2 will still work if you set an explicit dependency.

Haven't found the time to resolve the perf issues with that patch, so I don't feel comfortable releasing it when it (IMO) introduces more problems than it solves.

[2016-07-08 14:11] joshwcomeau commented on #62
Sorry for the delay! Just saw this.

It sounds like what you're describing is `enterAnimation`; When items first appear, the `enterAnimation` is applied. There are presets, but you can also specify an object of `from` / `to` CSS properties, similarly to how ReactCSSTransitionGroup works :)

To be honest, `onStart` is one of those properties that I added because I received a few requests for it, fo

[2016-07-08 14:11] #62 closed

[2016-07-08 14:11] joshwcomeau commented on #61
Going to close this, because I haven't been able to replicate it.

[2016-07-08 14:11] #61 closed

[2016-07-08 14:12] joshwcomeau commented on #56
Going to close this, because I believe it's currently outside the scope of FlipMove, and something that should be handled in userland.

[2016-07-08 14:12] #56 closed

[2016-07-15 16:38] jsg2021 opened #63 "item.entering = true; blows up"
[This line](https://github.com/joshwcomeau/react-flip-move/blob/13a34664e322faed6691fbda988e7b0c25d47c2e/src/FlipMove.js#L461) is blowing up in React 15.2.1 (item is sealed)

[2016-07-15 19:22] joshwcomeau commented on #63
Ahh, yeah, makes sense. I should be cloning the state items, not modifying them directly.

Will fix shortly!

[2016-07-15 20:22] joshwcomeau commented on #63
So, weirdly I was unable to get any sort of warning or error with React 15.2.1.

I definitely shouldn't've been mutating state, though, so I just published [v2.4.1](https://github.com/joshwcomeau/react-flip-move/releases/tag/v2.4.1), which instead creates a new object from the state item.

@jsg2021 please let me know if this version fixes the issue :)

[2016-07-18 20:22] SDSLeon commented on #45
2.4 rc2 graceful interrupts not work in safari =( and I see bug with not disappearing items: animation end but items still in the dom with animation classes and new one item there too. Also will be cool to separate the staggerDurationBy and staggerDelayBy on enter/leave and reorder.

[2016-07-18 20:45] joshwcomeau commented on #63
Going to close this, because I believe it to be fixed :) feel free to disagree!

[2016-07-18 20:45] #63 closed

[2016-07-18 20:47] joshwcomeau commented on #45
Yeah, it's pretty buggy. Didn't know it was broken in Safari.

Graceful interrupts are tricky, and I think I might go with a different approach. Insightful and/or brave contributors welcome!

[2016-07-19 07:25] meepeek opened #65 "Changing width does not animate"
As in example http://joshwcomeau.github.io/react-flip-move/examples/#/shuffle?_k=8t0vgp

Clicking Grid button then click List button, list items are moved, however no animation for the width expanding or shrinking.

PS. could you share the concept of how you control the animation ?

[2016-07-19 12:16] joshwcomeau commented on #65
That's true; this package specifically handles reordering, not changes in size.

The reason is that certain CSS properties are efficient, and others are not. Animating `width` or `height` will not look pretty. I use `transform: translate` for all the rearranging.

It's theoretically possible in some circumstances to use `transform: scale` to enlarge or resize, but the problem is it treats the enti

[2016-07-19 12:16] #65 closed

[2016-07-19 15:17] jsg2021 commented on #63
Sorry for the delay. When I observed it, I was on React 15.2.1 dev code. (the un-minified)

I updated my node modules yesterday and didn't see the error. :)

[2016-07-19 15:29] jsg2021 opened #66 "this.props.children is an opaque object"
I just read through the code and noticed children being accessed as if it's always an array. Which is not true. If you have one child, it is often not an array.

The 'children' should be accessed through [React.Children.*](https://facebook.github.io/react/docs/top-level-api.html#react.children) methods to be safe. :)

[2016-07-19 16:46] joshwcomeau commented on #66
I have a HOC that does this, along with a bunch of other gross-but-necessary prop-converting things :)

https://github.com/joshwcomeau/react-flip-move/blob/master/src/prop-converter.js#L42

I did it this way because I wanted to keep the main component straightforward, and deal with the clutter elsewhere. Since props are immutable, a HOC was the way to pseudo-mutate props.

In retrospect, it may be

[2016-07-19 16:46] #66 closed

[2016-07-19 20:01] jsg2021 commented on #66
awesome :) thanks

On Tue, Jul 19, 2016 at 11:46 AM Joshua Comeau <notifications@github.com>
wrote:

[2016-07-23 05:56] gregj1 opened #67 "Handling key changes"
Fantastic library - just works.

I'm using it to animate lists of items, populated by a redux store and backed by a server-side API. When a user creates a new item I "optimistically" put it into the brower's redux store and assign it a temporary ID. After the server interaction completes I go back and renumber the item with the server generated ID. I think this is a reasonably common practice.

re

[2016-07-23 15:18] joshwcomeau commented on #67
Thanks for the kind words!

FlipMove uses the `key` prop to determine what's what; as long as your optimistically-rendered list item and the validated "real" item share the same `key`, FlipMove shouldn't mess about with it.

So, I think the solution is to not use the server-generated ID (or its mocked version) as the `key`, but instead to use something you know won't change; the article's title, m

[2016-07-24 08:14] gregj1 commented on #67
Thanks for the reply.

I ended up keeping the temporary ID on my model and continued to use that as the key for flip-move lists even after the server-generated ID was populated.

The _TL;DR_ version for anyone coming along afterwards:

**Don't change keys!** Use a field that won't change. Arrange to keep using locally generated IDs for flip-move even though the ID from your server API may differ.

[2016-07-24 08:14] #67 closed

[2016-07-24 11:44] joshwcomeau commented on #67
Awesome, glad to hear it. Added a blurb in the "gotchas" section of the README to address this concern :)

[2016-07-25 19:35] byjoh opened #68 "sorting animation"
Is it possible to turn off the sorting animation (and only use onEnter and onLeave)?  I am using React DnD for a sortable list and would like to use FlipMove animations only for items that are deleted, but when I grab and drag an item to re-order the list there is a strange interaction.  For example, if I grab item 1 and drag it above item 2, an infinite loop of 1 swapping with 2 and 2 swapping wi

[2016-07-29 16:20] marcus433 commented on #21
Hey @joshwcomeau

Any news on this issue? I'm available to contribute to it again :-)

[2016-07-30 19:04] joshwcomeau commented on #21
hey @marcus433,

I have not found the time, and you are more than welcome to pick this up again :)

[2016-08-02 12:01] joshwcomeau commented on #68
Sorry for the delay! Thought I already replied to this.

The sorting animation is the main feature of Flip Move :) If all you need are leave animations, I would recommend [React CSS Transition Group](https://facebook.github.io/react/docs/animation.html).

The only thing it doesn't have, compared to FlipMove, is the animation presets. You can view those presets [here](https://github.com/joshwcomeau

[2016-08-02 12:01] #68 closed

[2016-08-03 02:50] techniq opened #69 ""Hero" animation"
Is it possible to perform a "hero" animation (as Polymer calls them) using react-flip-move?

For example, is it possible to replicate [this demo](https://youtu.be/z5e7kWSHWTg?t=9m52s) Ryan Florence showed using Magic Move, or [either](http://morethanreal.github.io/neon-animation-demo/bower_components/neon-animation/demo/tiles/index.html) of [these](http://morethanreal.github.io/neon-animation-demo

[2016-08-03 04:42] techniq commented on #69
I was able to make some progress (through trial and error) reproducing Ryan's Magic Move demo tonight - http://codepen.io/techniq/pen/qNrYYb?editors=0010

[2016-08-03 14:52] joshwcomeau commented on #69
@techniq - Awesome!

I would probably do things slightly differently; rather than have a `selected` value in state, I would just rearrange the items so that the "selected" item is the first in the `items` array.

[code]

For the actual positioning, I'd use a `:first-child` pseudoselector so that the first item in the list has the styles you've applied with the `.selected` class.

That said, I don'

[2016-08-03 14:52] #69 closed

[2016-08-03 18:25] techniq commented on #69
@joshwcomeau thanks for the feedback.

I plan to continue exploring more examples I mentioned above (Polymer's neon-animation examples, css-triggers's list item effect, etc).  If you have any insight on how to accomplish those, I'd appreciate it.

[2016-08-03 18:56] joshwcomeau commented on #69
@techniq I think those demos may be stretching Flip Move a little too far. It can handle moving the items around, but it doesn't tackle resizing them, and both the demos you mention have an element of growing as they move.

Honestly, if I were to try and accomplish that task, I would probably do it from scratch; could make for a really interesting library, to focus a selected item. I'm imagining a

[2016-08-03 19:46] techniq commented on #69
@joshwcomeau Thanks, good to know.  TBA I'm just now getting into animation with React and feeling things out (trying to understand the pro/cons and limits between react-flip-move, react-motion, and ReactTransitionGroup/ReactCSSTransitionGroup).

So far I've only used your react-flip-move to collapse elements as their are shown/hidden based on input selections, and for a "page transition" as a use

[2016-08-04 03:55] kayazinc opened #70 "Request: source codes for the demos"
Maybe I have missed it somewhere, is it possible to share the source codes of the demos  (http://joshwcomeau.github.io/react-flip-move/examples/#/shuffle?_k=ekcuy1)

Thanks in advance.

[2016-08-04 03:57] kayazinc commented on #70
Thank you, I've missed it, it is at https://github.com/joshwcomeau/react-flip-move/tree/gh-pages/examples

[2016-08-04 03:57] #70 closed

[2016-08-04 15:29] techniq commented on #69
I wasn't sure if this was worth opening a new issue for, but I was trying to accomplish something related to the original Ryan Florence demo with a slight twist.

I would like to be able to maintain 2 divs of items ("selected" and "remaining"), but have items animate between to the 2 divs (similar to what I showed you yesterday).  Knowing the items are entering/leaving the collections, it seems a

[2016-08-04 17:59] joshwcomeau commented on #69
Yeah, I can't think of a super simple way to do that.

A lot of really out-of-the-box ideas like this would need FlipMove to recursively check child nodes, and I decided against that for performance/simplicity reasons. I tried to make this library do one thing and do it well, and adding that complexity would've sacrificed overall stability for a pretty niche use-case.

If this is an important task

[2016-08-04 18:11] techniq commented on #69
@joshwcomeau Thanks.

Another use case I was considering experimenting with is using FlipMove with react-router for the "hero animations" between routes, but I think it would need this deeper checking to perform the animations.  For example, if I'm showing a list of items with an icon/image and click one, the icon/image would move into position on the details page.  One example of this is clicking

[2016-08-08 17:42] BeerBelly opened #72 "Bundle JS"
Hi,

I'm trying to make a bundled JS using Babelify and Browserify with the presets es2015, es2016 and react but getting an error. Can you help with what is needed?

[2016-08-08 18:30] joshwcomeau commented on #72
I'm afraid I know very little about browserify, I've been using Webpack for quite some time...

If you can share the error(s) you're getting I'm happy to take a look, but it sounds like your problem may not be with Flip Move itself.

[2016-08-08 19:57] BeerBelly commented on #72
If I use the es2016 preset I get this error:

`SyntaxError: node_modules/react-flip-move/src/FlipMove.js: Unexpected token (29:0)
  27 |
  28 |

     | ^
  30 | class FlipMove extends Component {
  31 |   constructor(props) {
  32 |     super(props);
    at Parser.pp.raise `

es2015 gives me this error:
`ReferenceError: [BABEL] node_modules\react-flip-move\src\FlipMove.js: Unknown option: foreign.

[2016-08-08 20:53] joshwcomeau commented on #72
Right; so the issue is I use decorators, which aren't a part of ES2015 or ES2016 (they're stage 4, I believe, so they should make it into Javascript by 2017).

Thankfully, though, you shouldnt have to use the `/src` files. I ship a `/lib` directory with NPM that includes the transpiled code, so you shouldn't need babel at all.

In fact, the lib file is the primary export. If you `import FlipMove f

[2016-08-09 08:22] BeerBelly commented on #72
I tried bundling the lib version and it went through without errors:
`browserify node_modules/react-flip-move/lib/FlipMove.js -o bundle.js -t [ babelify --presets [ es2016 react ] ]`

I then included the bundle.js file normally in my HTML file `<script src="js/bundle.js"></script>`
but when I tried to make a list it still didn't see the FlipMove class...I didn't import since in my understanding th

[2016-08-09 11:22] BeerBelly commented on #72
Looks like I had an issue with my Browserify config...started in a fresh directory with freshly installed addons I needed and now it works...sorry for the confusion.

[2016-08-09 11:22] #72 closed

[2016-08-28 03:52] brandonmp opened #73 "Animating flexbox wraps"
I have a grid of elements in a flexbox container, for which `react-flip-move` is providing A++ sort/add/remove animations.

However, my elements are able to grow/shrink. When they do this and other items are pushed to new rows (ie, b/c of Flexbox wrap), it gets a little janky.

Is there a way to use `react-flip-move` to invoke the something like reshuffle animation when an item is getting muscled

[2016-08-28 13:11] joshwcomeau commented on #73
Hi Brandon! Thanks for the kind words :)

Flip Move should be clever enough that, as long as the wrap happens as the result of new props, it'll animate the transition.

If you can provide a jsbin (or similar) that illustrates the issue, I can take a look and see where the problem lies!

[2016-08-29 09:16] Borisboky opened #74 "The animations aren't applied"
I tried to apply the animitions on my code. I have something like this :

[code]

Everything works perfect, but there are no animations.

Any advice?

[2016-08-30 01:32] onomatopoetry opened #75 "Invariant Violation"
Hi Josh,
FlipMove looks awesome, it's exactly what I need! I'm trying to put together a scoreboard for a site that runs wine events. Here's the relevant functions from my Scoreboard component:

[code]

When transpile + run this, I'm getting a warning and an error:
First: _Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `FlipMove`. See https:/

[2016-08-30 11:35] joshwcomeau commented on #74
The problem is you're using the array index as the `key` :)

FlipMove uses the `key` prop to be able to tell which item is which. When you shuffle an array, the item at position 1 might move to position 4, but it won't keep its `key` of `1`.

If you have an `id` or any unique value on the `car` object, you can use that instead. Otherwise, you'll have to generate a random value and store it on the

[2016-08-30 11:35] #74 closed

[2016-08-30 11:46] joshwcomeau commented on #75
Huh. Everything looks pretty alright to me!

My best guess would be that one or more items in `this.state.scoreboard` has an issue. A few thoughts:

- Are there any times where either `scoreboardItem.retailerName` or `scoreboardItem.wineName` can be undefined?
- What happens when you remove all the ratings stuff (rank, stars, description)? Does it work if you simplify it to just an `<li>` with a "

[2016-08-31 02:11] onomatopoetry commented on #75
Sometimes, as a programmer, you uncover something truly mysterious. You work for days, you learn and you learn, you curse Alan Turing, and you finally realize in a moment of sublime catharsis that you've solved one of the hardest puzzles you've come across. You've done it, you're a real engineer. And sometimes, it's a fucking semicolon.

It was this little bastard: `{this._renderScoreboardItems()}

[2016-08-31 16:34] joshwcomeau commented on #75
Hahahaha. No worries :) glad it's working now

[2016-08-31 16:34] #75 closed

[2016-09-01 17:21] joshwcomeau commented on #73
Hey @brandonmp, gonna give this another day or two before I close it. Let me know if you can provide a recreation!

[2016-09-01 19:33] brandonmp commented on #73
hey @joshwcomeau  my bad for flaking on your offer to discuss more

I posted a related question [on Stack Overflow](http://stackoverflow.com/questions/39187840/how-can-i-animate-flexbox-wrap-in-react-w-o-jquery).

[Here's a codepen to demo](https://codepen.io/brandonmp/pen/YWmAvj) what i was trying to address

Basically I think it's a limitation of flexbox. My use case was pretty simple:  clicking

[2016-09-19 13:07] joshwcomeau commented on #73
Hey @brandonmp,

Sorry I never replied to this! I must not have ever finished my response.

I understand now; Yeah, I don't really see any way to make that work, I'm afraid. Your backup solution, fading items away, could work; someone did something sorta-similar a while ago using multiple `<FlipMove>`s: http://codepen.io/techniq/pen/WxaxaR

FlipMove doesn't handle dynamic width changes, because it

[2016-09-19 13:07] #73 closed

[2016-09-25 01:41] f0rr0 opened #77 "Support appear/mount animation?"

[2016-09-25 11:57] joshwcomeau commented on #77
IMO, this library should do as little as possible; it's not designed to be an all-around animation library, it's just there to handle list re-ordering.

Enter/exit were added by popular demand, and it makes sense to me: that's really just a type of list re-order. For appear, though... there's no re-ordering on mount.

Plus, appear is super simple to do anyway (just use [CSS animation](https://deve

[2016-09-25 11:57] #77 closed

[2016-09-25 15:12] f0rr0 commented on #77
That's what I am doing currently, wrapping the children in `CSSTransitionGroup` to animate mount. However, the api does not support complex things like staggering etc. It should not be too complex. The children need to be given a `fadeIn` class after a user specified delay or something. It's aesthetically more pleasing and completes the functionality of this component IMO

[2016-09-27 18:34] jamby opened #78 "Footer shoots up during removal"
So I have this portion of code:

[code]

And what happens, is that when I remove an Item, the Footer component decides to move up immediately before the animation finishes (so it appears under the current list of items, and then when it's finally removed it's already there).

Is there something I'm missing to fix this?

[2016-09-27 20:06] joshwcomeau commented on #77
I don't think you need CSSTransitionGroup, though. You can just use vanilla CSS animations.

You should even be able to stagger them, by using `nth-child`:

[code]

This is tedious to do by hand, but simple with a preprocessor like SASS or LESS.

I do see that this would be easier with a simple `appearAnimation` prop, but IMO it's far from the highest priority thing to include, given that I believ

[2016-09-27 20:15] joshwcomeau commented on #78
Hey @jamby,

I believe the issue is that you're missing a `key` prop on the `<Footer />`. Otherwise it should absolutely work :)

If the problem persists, I'm happy to poke around and troubleshoot if you can get a reproduction of the issue on jsbin or similar.

[2016-09-27 20:40] f0rr0 commented on #77
@joshwcomeau I ditched `CSSTransitionsGroup` for a simple map over the children in `componentDidMount` and then changing `opacity` in a `setTimeout` with delay set to `someDelay + (someDelay * indexOfChild)`. That way I don't have to write CSS manually. A similar approach could be implemented into `react-flip-move`. [Here's](https://f0rr0.github.io) how it looks.

[2016-09-27 20:59] joshwcomeau commented on #77
Makes sense.

BTW, that's pretty neat! Very well-designed.

[2016-09-28 14:29] jamby commented on #78
So I figured out why it was breaking. I had `col-xs-12` (floats) around all the items before, and not around the footer, so the footer was part of the whole "list", which is why it wasn't moving properly.

However, it does make me wonder about problem that arised: When things get removed, if I have an actual footer on the web page (with a scrollable webpage unlike your demo), what seems to happen

[2016-09-28 14:37] joshwcomeau commented on #78
Yeah, so one thing Flip Move _doesn't_ handle is animating the parent container's height. The reason is simply that you can't use hardware acceleration, so the animation would be choppy.

This has been covered in https://github.com/joshwcomeau/react-flip-move/issues/40.

There are a few potential solutions:

- You can structure your page so that all items are siblings in the <FlipMove> wrapper. Th

[2016-09-28 14:37] #78 closed

[2016-09-30 06:39] burggraben opened #79 "react-flip-move together with react-youtube: enter animation not working correctly"
Hello!
Great work, thank you very much for your projekt.
I experience the following behaviour:

# Context
I am using `react-flip-move` together with [react-youtbe](https://github.com/troybetz/react-youtube). The `react-youtube` component is part of the children array of the `react-flip-move` component. The `react-youtube` component enters and leaves this array, and this should be animated.

When t

[2016-09-30 18:46] joshwcomeau commented on #79
Hi Dominik,

So, I took a quick gander at the react-youtube source, and I think I know what the issue is.

react-youtube renders its contents inside a `<span>`. FlipMove has trouble with items that are `display: inline;`, for reasons I haven't spent the time to fully understand.

The solution would be to style that `<span>` to add `display: block` or `display: inline-block`. If you use traditional

[2016-10-03 09:13] burggraben commented on #79
Hi Joshua,

many thanks for your quick reply and your suggestion!

Unfortunately the issue remains, when the span is displayed as a block element.

It seems to relate to specific behaviour of the `iframe` of the `react-youtube` component: When a container component as suggested has a padding e.g. `padding: 10px` and the `react-youtube` component a height e.g. `100px` the elements below first jump

[2016-10-03 11:19] joshwcomeau commented on #79
Ahh, yeah, I hadn't accounted for the fact that it uses an iframe.

Sorry to hear it's causing problems, but yeah I don't have any suggestions beyond that.

Best of luck! If you do figure out a workaround, please share it here in case others encounter the same issue :)

[2016-10-03 11:19] #79 closed

[2016-10-06 04:17] rhys-vdw opened #80 "Delay container resize on element removal"
Hi @joshwcomeau. Firstly, I'm loving this library! Basically achieved everything I was looking for as a simple drop-in replacement for `ul`. No configuration required.

One problem I'm experiencing is that elements are being removed from the dom flow before they animate away:

![flipmove-container-jump](https://cloud.githubusercontent.com/assets/822105/19140254/fc6ca722-8bd6-11e6-8bc5-7481e305abb0

[2016-10-06 10:37] joshwcomeau commented on #80
Hi @rhys-vdw!

That's a good point; I've received a few requests to animate container size, which is a very hairy (and really kind of impossible to do at 60fps) problem. But simply holding the container size while the elements shift and _then_ shortening it would be a good compromise-solution.

If you can provide a PR that would be great! Some prop like `maintainContainerSize`.

If you haven't alr

[2016-10-10 02:37] rhys-vdw commented on #80
Hi @joshwcomeau. Thanks for the detailed response. I'm getting started on this now.

[2016-10-10 04:38] rhys-vdw commented on #80
Hey @joshwcomeau. So I read through your blog post and guide here and this all seems quite reasonable. But before I did this thought I'd try [this alternative strategy](https://github.com/usabilityhub/react-flip-move/commit/457ddf90cba7439170d758288be6f551a9101972) that doesn't require applying styles to the container at all. When there are any elements disappearing, a placeholder is added to the

[2016-10-10 12:58] joshwcomeau commented on #80
That's super clever!

I like this approach, it's much more elegant than what I had proposed.

The issue with summing the heights of the children is that margin isn't accounted for, and I don't know how it works if things are positioned artificially with `top`/`bottom`. It solves the box-sizing issue, but there's still this stuff.

I think we could just read the height of the parent container, thou

[2016-10-10 15:30] jamby commented on #40
@matthewoates Was wondering how exactly you fixed this? I'm still trying to fix it but I'm lost on how you decided to do it?

Thanks!

[2016-10-10 23:32] rhys-vdw commented on #80
Great. :-)

Yep. Sounds like that would work.

Currently the placeholder [maintains the same key](https://github.com/usabilityhub/react-flip-move/commit/457ddf90cba7439170d758288be6f551a9101972#diff-173d41f486956cae79d23564b18cf1e0R499). React will, as you described, update the existing element's height in place when it flushes any updates to the DOM.

I'm going to try to throw together a complete

[2016-10-11 20:29] matthewoates commented on #40
Hey @jamby

I explained this in my earlier comment:

I got around this by precalculating the height of the FlipMove component and then attaching a transition: 'height 1s. Would be nice if this was supported natively by the library, but I'm not sure how to get around the hardcoding of the height.

To elaborate/reiterate, you'll want to create a wrapper element where you compute the height yourself

[2016-10-12 12:38] #80 closed

[2016-10-24 22:30] joshwcomeau opened #84 "`onFinishAll` not being called with any arguments"
The `onFinishAll` handler is _supposed_ to be invoked with two arguments:

- an array of the React elements that have been animated
- an array of the underlying DOM nodes, as an escape hatch.

Currently, though, it's being invoked with 2 empty arrays.

Fix imminent.

[2016-10-24 22:48] #84 closed

[2016-10-24 22:58] joshwcomeau opened #85 "Make the `maintainContainerHeight` placeholder use the right DOM element."
The `maintainContainerHeight` property creates an element that grows to fill any holes in the DOM flow, so that the parent can maintain its height until all leave animations have completed.

As it stands, though, this element is always a `<div>`.

Flip Move allows you to specify any DOM element you'd like for the parent wrapper. It's not uncommon to use a `<ul>` as a parent. By the specification,

[2016-10-24 22:58] joshwcomeau commented on #85
Fixed in v2.6.1

[2016-10-24 22:58] #85 closed

[2016-10-27 14:51] bbenezech opened #86 "2.6.0 -> 2.6.1 regression"
2.6.0
![2 6 0](https://cloud.githubusercontent.com/assets/26794/19772032/33985c8e-9c65-11e6-9958-d606164f83bd.gif)
2.6.1
![2 6 1](https://cloud.githubusercontent.com/assets/26794/19772041/38993d98-9c65-11e6-8f23-a0723790926e.gif)

On the second screen, you can see that all elements but the last get removed at once instead of disappearing animated.

My setup is pretty basic:
[code]

[2016-10-27 15:36] joshwcomeau commented on #86
Huh, very strange. Sorry about that! I tested all the props but it's possible multiple simultaneous exits with staggers escaped my notice.

Hope it didn't cause any inconvenience. I'll take a stab at fixing it tonight. Feel free to lock your version number to 2.6.0 in the meantime.

[2016-10-27 15:49] bbenezech commented on #86
@joshwcomeau Please, you owe me nothing, take all the time you need.
All it took was 2 minutes of copy pasting to get awesomely animated lists in my app.
A simple bug report is the least I can do to help you stabilize your refactoring. I'll stick to 2.6.0, no sweat.

I just tried removing the staggerDelayBy prop (sorry forgot about it) but no dice, the issue stays the same.

[2016-10-28 12:33] joshwcomeau commented on #86
Hey @bbenezech,

Appreciate that :) I do feel bad though, since this was a patch release. I was debating making it a major release on the hunch that there _may_ be breaking changes, but decided against it since I couldn't find any. I'm worried it'll cause a lot of frustration when people can't figure out why stuff is suddenly broken after an NPM install!

I haven't had time to dig into it yet, but

[2016-10-28 14:13] bbenezech commented on #86
Bugs and regressions are not desired, but expected. To prevent install-time regressions (and get deterministic builds*), your users can either:

1. lock to the last digit in `package.json`
2. use a shrinkwarp or yarn lock file

Shipping to prod without 1. or 2. is like playing soccer with a hand-grenade, it is their responsibility.

\* only for the first level of dependencies in case of 1.

[2016-10-29 13:08] joshwcomeau commented on #86
Good points! Yarn's popularity should really help make deterministic dependency installation mainstream.

I've fixed the issue in v2.6.2. Turns out it was a very simple fix :)

[2016-10-29 13:08] #86 closed

[2016-10-30 10:59] bbenezech commented on #86
Works perfectly thanks!

[2016-11-01 03:35] rhys-vdw opened #89 "Removing `findDOMNode`"
Hey @joshwcomeau. I look at #88 and saw [your comment](https://github.com/kdemoya/react-flip-move/blob/4ae798c45ca847daf7b33dc7465982f29aab7f35/src/dom-manipulation.js#L193-L195):

[code]

I've been reading up on `findDOMNode`, there's a discussion at yannickcr/eslint-plugin-react#678. I thought I'd just leave a comment here detailing how one might remove use of this function. I'm not necessarily

[2016-11-01 10:54] joshwcomeau commented on #89
Hey man,

Yeah, I had an internal debate about this myself :) I really don't wanna be reliant on a soon-to-be deprecated API, but I also really don't wanna complicate integration instructions.

Having users specify a `callbackRef` is a pretty big ask; I don't wanna impose on people new to React who aren't familiar with refs and how they work. It can also be a fair bit of trouble if you have severa

[2016-11-02 01:44] rhys-vdw commented on #89
Agreed. The purpose of this issue was really just to jot down what I learned.

Unless somebody requests it probably not worth the added code and documentation complexity IMO. It's simpler (and more readable) to just wrap them in `li`/`div` components. We can close this issue if you like, or leave it as a placeholder for discussion if `findDOMNode` is deprecated.

[2016-11-11 04:07] zuhair-naqvi opened #94 "Uncaught TypeError: Cannot read property 'domNode' of undefined"
When a new item is added, it's not rendered, instead I get "Uncaught TypeError: Cannot read property 'domNode' of undefined"

[code]

Here's the stack trace:

[code]

Looks like childrenData in getRelativeBoundingBox function is an empty object.

[2016-11-11 05:22] geelen commented on #94
I just hit this same bug, it might be something to do with Stateless Functional components. I just changed up mine from `const Card = () => ...` to `class Card extends React.Component` and it seemed to fix the error.

[2016-11-11 05:39] zuhair-naqvi commented on #94
That worked! thanks :)

[2016-11-11 05:40] #94 closed

[2016-11-11 05:48] geelen opened #95 "Support functional components"
See #94. Not sure if anything _should_ prevent stateless functional components from working, but then again I don't understand the dark wizardry inside this library so maybe there's something I'm missing 😄

[2016-11-11 12:11] joshwcomeau commented on #95
The issue is refs; For FlipMove to do its magic, it needs to reach down into the children you provide it:

[code]

While you can use refs _inside_ functional components, the components themselves don't support refs.

There is a potential workaround that has been [discussed](https://github.com/joshwcomeau/react-flip-move/issues/89) - Essentially we'd pass down a 'ref' function, and the developer wo

[2016-11-11 12:11] #95 closed

[2016-11-11 12:12] joshwcomeau commented on #94
Yeah, sorry guys! I'll look into making this error more meaningful.

[2016-11-13 15:41] joshwcomeau commented on #94
`v2.6.8` adds a proper console warning when you try and pass it an SFC. Hope it helps avoid such confusion in the future!

[2016-11-14 09:18] yp opened #97 "Uncaught TypeError: Cannot read property 'type' of undefined"
After updating to `v2.6.8`, the error `Uncaught TypeError: Cannot read property 'type' of undefined` is raised by function `isElementAnSFC` when one of the children is `null`/`false`/`undefined`.

I use the fact that "falsy" children are not rendered by react to let notifications (i.e., the children) appear of disappear.
Is this assumption legal in react-flip-move, too?

A possible solution of the

[2016-11-14 09:21] PEM-- commented on #97
Same problem for me as well.

[2016-11-14 10:32] joshwcomeau commented on #97
Ah-ha - Hadn't anticipated that.

Will fix shortly, thanks for letting me know!

[2016-11-14 11:00] #97 closed

[2016-11-14 11:01] joshwcomeau commented on #97
Fix published in `v2.6.9`

[2016-11-14 14:50] alampros opened #99 "TypeError: props.children.every is not a function"
This looks like a regression from the latest release ([v2.6.8](https://github.com/joshwcomeau/react-flip-move/releases/tag/v2.6.8)) in the stateless functional components check.

From [v2.5.0](https://github.com/joshwcomeau/react-flip-move/releases/tag/v2.5.0) on, children were not required.

[2016-11-15 11:45] #99 closed

[2016-11-15 11:55] joshwcomeau commented on #99
Fixed in `v2.6.10`. Thanks @yp!

[2016-11-19 02:29] ajcronk opened #102 "Rendering component to null causes error"
I have a list of components (called Factor), and if I don't want to show the item I render the component null.  This inserts a react-empty which seems to be causing the getBoundingClientRect error in the screenshot below.

If I show all of the components (so all react-empty are gone), everything works great.

Is there a better way to conditionally display the items?  Or perhaps another workaround?

[2016-11-19 07:20] rhys-vdw commented on #102
Hi @ajcronk. Could you check if PR #100 corrects this issue? The comment [here](https://github.com/yp/react-flip-move/blob/997bc18bfac76322fb5218945dd9ae7eedf5b43d/src/prop-converter.js#L38-L39) suggests that this may be related.

This PR has not yet been merged but not yet released, so you can check by pointing you package.json `dependencies` entry to our `master` branch:

[code]

[2016-11-19 07:26] rhys-vdw commented on #102
Actually the fix was included in version 2.6.10, so please check that you've got the latest release.

[2016-11-19 13:32] joshwcomeau commented on #102
Hey @ajcronk,

Rhys took the words out of my mouth :) Please let me know if the issue persists in the latest version. If so I'll take a closer look, but I believe this issue was already fixed.

[2016-11-19 19:55] ajcronk commented on #102
Thanks for the quick responses.  I saw the other tickets, and had checked my package versions.  This is what I pulled off of an npm install.

react 15.3.2
react-flip-move 2.7.0-beta1

Seems that the 2.7.0-beta should include the fix?  Should I try different package versions of react or react-flip-move?

[2016-11-19 20:20] ajcronk commented on #102
Tried to install 2.6.8 from source from this page: https://github.com/joshwcomeau/react-flip-move/releases

Looks like the 2.6.8 tar/zip shows "version":"2.6.7" in package.json?

Probably unrelated, but found when trying out different versions.

[2016-11-19 20:32] yp commented on #102
I had the same (or a very similar) issue, but version 2.6.10 fixed the problem.
Can you provide a minimal example that reproduces the bug?

[2016-11-19 20:53] ajcronk commented on #102
@yp will put together an example in a bit.

I'm confused though - I see the changes here were merged:
https://github.com/joshwcomeau/react-flip-move/pull/100/files

But they aren't in master?
https://github.com/joshwcomeau/react-flip-move/blob/master/src/prop-converter.js

I downloaded the 2.6.10 release from npm and saw similar code to master without the fix?

Am I reading this wrong?

[2016-11-19 23:05] rhys-vdw commented on #102
@ajcronk it's just that the exact implementation was changed [in a subsequent commit](https://github.com/joshwcomeau/react-flip-move/commit/a0b71b464d1cee09aa7d36e2a2b30b1fbdd1586a#diff-ecdb6cdeb1de0c9f5925708a2be17e73). The use of `React.Children.toArray` is the important part, and is [still present in current master head commit](https://github.com/joshwcomeau/react-flip-move/blob/a0b71b464d1cee0

[2016-11-19 23:15] rhys-vdw commented on #102
@joshwcomeau When publishing a beta version, you should publish using command `npm publish --tag beta`. npm will not infer alpha/beta/rc status from the version string, and will default to `latest`, which is the version installed by `npm install` by default. See [npm documentation](https://docs.npmjs.com/getting-started/using-tags).

[2016-11-19 23:22] rhys-vdw commented on #102
@ajcronk, it does seems that it [should include the fix](https://github.com/joshwcomeau/react-flip-move/commits/da50af9faec783a11cd3db3bd1c2c240223bce5c).

[2016-11-20 03:37] ajcronk commented on #102
I found a workaround to my issue that doesn't involve code changes to this library.  I spent a couple hours deep in debugger land to learn more about what was going on.  I now know enough to work around my error :)

I'll describe what I was doing, and how I produced the error, in case anyone is interested.

I was mapping over 5 item components that would output an <li> if they had a prop called "v

[2016-11-20 03:52] rhys-vdw commented on #102
Hey @ajcronk. Is this what you mean?

### before
_Raises exception_
[code]

### after
_Working fine_
[code]

[2016-11-20 03:58] ajcronk commented on #102
@rhys-vdw Yes, that is correct.  In the Before case, all Items are children, and in the After case they are progressively added as children (I think).

[2016-11-20 04:07] rhys-vdw commented on #102
@ajcronk Well, there is nothing interesting about the latter (working) case case from our point of view. Both patterns should be supported. It would be a big help to get a minimal reproduction with latest version of react-flip-move if you're able/willing to put in the effort.

[2016-11-20 04:09] ajcronk commented on #102
@rhys-vdw sure, I'd be glad to put that together.  Prob in the next couple days.

[2016-11-20 04:45] ajcronk commented on #102
@rhys-vdw gave it a quick go.

Does this make sense?

https://gist.github.com/ajcronk/c7adb6e501d17986ef98f19400da0f86

Expected behavior is click the button and Item2 appears.  Should work as is.

To see failing behavior, comment out line 29, and uncomment line 32.

You'll see the only difference between the two lines is pre-filtering out the visible=false items.

[2016-11-20 11:35] joshwcomeau commented on #102
@ajcronk thanks for providing a reproduction!

@rhys-vdw let me know if you'd like me to tackle this one, otherwise I'll leave it in your capable hands :)

RE: published version: huh, surprised I forgot to use a tag. Could've sworn I did, but you're right, it appears not. I believe v2.7.0 is ready to go anyway, so I'll publish a proper release this morning.

[2016-11-20 22:14] rhys-vdw commented on #102
@joshwcomeau I can't guarantee I will deal with this in a timely fashion, so feel free to complete it. Just post in this thread if you're looking into it. Otherwise I'll see if I get a chance one evening this week.

[2016-11-23 12:24] joshwcomeau commented on #102
Ah-ha - Yeah, after looking into it, I understand why it's broken.

We check for null values when processing children, and in this case, Flip Move is handed valid React elements; the issue is that _those elements_ render null. Essentially:

[code]

Should be an easy fix.

[2016-11-23 12:39] #102 closed

[2016-11-23 13:02] ConneXNL opened #105 "2 FlipMoves on top of eachother"
I am currently having a problem with 2 flip moves that are rendered on top of each other. The dom looks a bit like:
<ul>
   <li>
   <header>
      <FlipMove/>
    </header>
   </li>
   <li>
   <header>
      <FlipMove/>
    </header>
   </li>
</ul>

As soon as the first flip move grows in height (because an item gets added), the second flip move is unaffected, their parent just moves down (expecte

[2016-11-23 13:34] ConneXNL opened #106 "Cannot read property 'top' of undefined / 'getBoundingClientRect' of null"
When removing adding and removing items the FlipMove breaks with the error:

Uncaught TypeError: Cannot read property 'top' of undefined:
https://github.com/joshwcomeau/react-flip-move/blob/master/src/dom-manipulation.js#L141

Uncaught TypeError: Cannot read property 'getBoundingClientRect' of null:
And https://github.com/joshwcomeau/react-flip-move/blob/master/src/prop-converter.js#L217

You can

[2016-11-23 14:54] joshwcomeau commented on #106
Hm, strange.

Can you test this with `2.6.8`? I refactored how enter/leave animations were tackled, and possibly there's a regression.

(There is a visual bug in earlier versions where animations restart when added/removed in quick succession - I'm mostly just curious about console errors)

[2016-11-23 14:57] joshwcomeau commented on #105
Yeah, I wouldn't expect subsequent FlipMoves to animate when the earlier one changes.

Thanks for the examples. I'm pretty busy but I'll try and find the time to look into this in the next few days.

[2016-11-23 14:58] joshwcomeau commented on #45
So this isn't _totally_ solved, firefox is still jerky, but it's solved enough for me, for now :)

[2016-11-23 14:58] #45 closed

[2016-11-23 21:46] yofret opened #107 "EnterAnimation/LeaveAnimation is always default"
Hi I'm trying to change the default animation to a fade effect, but it always show the elevator effect even if I set enterAnimation/leaveAnimation props to **'fade'**

This is my code

[code]

[2016-11-24 12:46] joshwcomeau commented on #107
Hi @yofret,

Hm, I'm unable to reproduce this issue - fade animations work for me.

I just created a fiddle with basic FlipMove configuration: https://jsbin.com/cusaqayuyi.

If you can modify this fiddle to recreate the issue, I'll be happy to take a look and see what's up :)

[2016-11-24 15:32] yofret commented on #107
Hi @joshwcomeau

I've made some modifications to resemble my current scenario, In any given time I might populate and repopulate the current <FlipMove> Instance, that causes some strange behaviour

https://jsbin.com/kaqato/edit?html,css,js,output

[2016-11-24 23:24] rhys-vdw commented on #107
So i'm having this problem with your gist. It happens whether I use the "fade" animation or not.

![shuffle-fail](https://cloud.githubusercontent.com/assets/822105/20610973/2ccdf68c-b2f6-11e6-8ce9-f37e7ebe858d.gif)

It's because `boundingBox` is undefined [here](https://github.com/joshwcomeau/react-flip-move/blob/8f6df3235800700b7095a4c4cc00230f4d652fae/src/dom-manipulation.js#L141).

[2016-11-24 23:37] rhys-vdw commented on #107
In fact I get the same error with your original Gist, @joshwcomeau. Try [this copy of your fiddle](https://output.jsbin.com/munocu) with more items. Hit "remove 1 item" quickly to empty the list. Then press restore and try again.

(Happens in Chrome and Firefox

Can't see the animation error reported by @yofret.

[2016-11-25 00:02] yofret commented on #107
I was able to see the issue the first time i swap from one array to another, then no animation at all,  just like the gif you posted

[2016-11-25 11:07] Arinteck commented on #106
I've reproduced it with v2.6.8. It's happens when items quickly adding/removing from list.

[2016-11-25 12:13] joshwcomeau commented on #107
Huh, strange. Will spend some time this weekend seeing if I can sort this out.

[2016-11-25 16:13] vsaarinen commented on #106
Same thing here on v2.6.8. https://github.com/joshwcomeau/react-flip-move/blob/master/src/prop-converter.js#L217 is throwing with

[code]

[2016-11-25 16:17] joshwcomeau commented on #106
@Arinteck @vsaarinen thanks for confirming. Afraid I don't have a great answer for you; interrupted leave animations have always been iffy. I was hoping the newer version removed a lot of the hurdles, but apparently not.

I think in the short-term your best bet is to speed up animations, or throttle item removal.

[2016-11-25 16:24] vsaarinen commented on #106
I'm going to have to do some testing in order to make sure that this is actually the case, but I'm pretty sure the error happens during enter animations. I get it as soon as I load our app.

[2016-11-25 16:33] vsaarinen commented on #106
If it's of any help, `getPosition` is called from here when it occurs: https://github.com/joshwcomeau/react-flip-move/blob/master/src/FlipMove.js#L396

[2016-11-25 17:28] vsaarinen commented on #106
After upgrading NPM packages one by one, the culprit ended up being another package's bug: https://github.com/danawoodman/react-fontawesome/issues/32

The latest version of react-flip-move works fine now. Sorry for the false alarm.

[2016-11-25 20:26] joshwcomeau commented on #106
Weird! Thanks for the heads-up @vsaarinen

I think there's maybe still a bug with FlipMove, because I've seen a similar issue on a jsbin without this dependency. Likely this other package was exacerbating it though.

[2016-11-27 03:00] geelen commented on #95
Oh right from the other issue the solution is to wrap all your SFCs in a `<div>`? (I'm assuming that's what you meant to type above...)

[2016-11-27 03:04] geelen commented on #89
Personally, I think enforcing that this only works with a layer of real HTML elements makes a lot of sense. It feels like it almost demystifies the library because it's clearly just working at this one layer of the DOM tree, rather than magically working with class components and not working at all with SFCs.

I'm going to start doing that by convention anyway 👍

[2016-11-29 17:19] migreva commented on #106
We've been seeing this issue as well. I did a little version binary search and found that (at least for our use case) [2.6.6](https://github.com/joshwcomeau/react-flip-move/releases/tag/v2.6.6) introduced the error. [2.6.5](https://github.com/joshwcomeau/react-flip-move/releases/tag/v2.6.5) works fine in our testing, but 2.6.6 throws the errors above.

[2016-11-29 17:37] joshwcomeau commented on #106
@migreva interesting! Thanks for finding the bug's introduction patch.

This is good news; that change was small, so we know exactly where the problem is. Was worried the problem would have been very difficult to find.

If it's as easy to fix as it is to find, it should be fixed soon! I'm pretty busy with work this week but I'll try to find time to tackle this.

[2016-11-30 09:20] vsaarinen commented on #106
FYI, for us, the problem occurred with 2.6.2. It might have occurred with older versions as well, but that's how far back I tested this.

[2016-11-30 11:46] NgKhanh opened #109 "Get offsetTop of added/removed item"
Hi, I want to scroll to item which added/removed on listing. I using onStartAll(childElements, domNodes). but I dont know that first or last item of domNodes is added/removed, it is not fixed
[code]
Any solution for this ? Thanks

[2016-11-30 14:58] RyanCCollins commented on #106
I am also seeing this issue with the latest release and it seems to be breaking it pretty consistently.

Let me know if you need any more details. Thanks!

[2016-12-01 05:15] benjiwheeler commented on #106
I'm also getting this on 2.7.1. Thanks, really enjoying react-flip-move !

[2016-12-02 20:21] finetype commented on #106
Also getting this issue. I'm using 2.7.1. It can be found if you play with our site, thezebra.com, enough--after a few server requests, with things being added and removed from the list, eventually React loses track of some DOM nodes and you get nodes sitting on top of each other. The other library we're using to animate sliding then creates all kinds of weird artifacts.

[2016-12-03 14:45] ohjames commented on #106
I'm seeing it in 2.6.5 and 2.7.1

[2016-12-03 14:48] joshwcomeau commented on #109
Sorry for the delay, crazy busy this week.

So, internally FlipMove adds properties to the react elements to keep track of which ones are entering/leaving.

I would use `onStart` instead of `onStartAll`. You should be able to do something like this:

[code]

This does depend on a non-public API so I can't guarantee that it won't change in the future. I would imagine such a change would be a major

[2016-12-03 14:48] #109 closed

[2016-12-03 14:48] joshwcomeau commented on #107
I believe this is a duplicate of #106, so I'm going to close this issue. Discussion can continue in that thread :)

[2016-12-03 14:48] #107 closed

[2016-12-03 14:54] ohjames commented on #106
Updated my previous comment... 2.6.5 seems to be working fine for now, but 2.6.4 and 2.6.6 both show the error.

[2016-12-03 14:55] joshwcomeau commented on #106
Very strange. I'm going to spend an hour on this today, hopefully I can get to the bottom of it!

[2016-12-04 21:53] #106 closed

[2016-12-04 22:07] joshwcomeau commented on #109
actually, you may want to use `onEnterAll`/`onLeaveAll` anyway; if you have interrupted enters, the scroll position might jump around a ton.

`onEnterAll` waits for all animations to end, so you'd be guaranteed to only get 1 jump per set of animations.

It's a bit more work (you have to zip the two arrays together to find the pairs of React Element and DOM Node), but it should be doable :)

[2016-12-04 22:12] joshwcomeau commented on #106
Hey guys,

So, I spent some time on this and was unable to find a perfect solution :(

The best I could do in the time available was a band-aid; Essentially I didn't try to account for the displacement of elements whose bounding box wasn't calculated in time.

What it means is that you should no longer experience this error, nor should everything "freeze up". There's still an underlying issue, tho

[2016-12-05 06:03] NgKhanh opened #112 "Transition sequentially"
Hello, I tried custom EnterAnimation with sequentially properties, mean I want opacity delay until done scaleY transition of item

So I tried this code

[code]
But It didnt work, please help

[2016-12-05 12:16] joshwcomeau commented on #112
@NgKhanh So, FlipMove doesn't have support for multi-stage animations.

You should just be able to use standard CSS keyframe animations though, at least for enter animations:

[code]

Hope it helps!

[2016-12-05 12:16] #112 closed

[2016-12-07 00:15] Freddy03h opened #113 "Transform Scale proposal"
Hi!
I really like `<FlipMove>`, I already push it on production and work like a charm. I knew the FLIP technique before using your lib, and I tried to do my own. But, managing the domNode deletion and the relativeBoxModel isn't easy. So I adopted react-flip-move !

I think it's really close to successfully manage transform scale for some use cases ! I don't think it's a good idea to activate scale

[2016-12-07 12:05] joshwcomeau commented on #113
Hi @Freddy03h!

This is awesome. That demo is incredible!

I'm going to go through the PR in more detail shortly, but I think this is a direction worth exploring.

The biggest issue with FlipMove right now is stability. It works great for most usecases but enter/leave animations can cause problems when they happen too quickly and interrupt each other.

This gives me the idea that this could be use

[2016-12-08 08:56] Freddy03h commented on #113
Interruption can be hard indeed, and I don't think it will be possible with pure css animation or transition. With Web Animation API it's possible to pause the animation, but I don't know if it's possible to get the real `transform` of the stopped item. The goal is to calculate the 'First' using the classic `getBoundingClientRect` and the current 'graphic' position by getting the calculated `trans

[2016-12-08 13:07] joshwcomeau commented on #113
Hi @Freddy03h,

I'm not sure that I follow what the difference is between `default` and `layer`. Is the idea that you'd be able to specify the key of a given child?

And yeah I think we can probably save enter/leave scale handling for later, I was mostly just thinking out loud haha.

I don't think FlipMove should worry about `transform-origin`, since different circumstances will want it to be hand

[2016-12-13 02:04] finetype commented on #106
Throttling additions/removals ends up being a little more complicated than it seems on the surface. I'd like to contribute a 'dirty patch' to fix the library using the technique here (this is a hotfix for our website, which uses large numbers of exits rapidly at times, so please forgive the questionable code quality), but for now, I just wanted to make this available to others who may have this is

[2016-12-13 11:38] alirezavalizade opened #114 "infinite scroll problem"
I use  react-flip-move component for animating to my lists, and have infinite scroll for them...this way have some issues. i want know react-flip-move dont support the infinite scrolling ?!
how to fix this?

[2016-12-13 11:47] joshwcomeau commented on #106
Thanks for sharing, @finetype! Sorry to hear that throttling was so much trouble :(

[2016-12-13 13:12] joshwcomeau commented on #114
Hi @alirezavalizade,

So, without more information/code/reproducible sample, I really can't even speculate what the problem is about. If your infinite scrolling isn't virtualized, it should work like anything else (after all, you're just appending new stuff to the DOM). If you are using some sort of virtualization, I've never tested that with FlipMove, so I'm not sure.

If you can share code or, i

[2016-12-13 13:48] joshwcomeau commented on #105
Hey @ConneXNL,

I finally found some time to look into it a bit. As far as I can tell, the animation _is_ consistent (although not ideal):

![stackedissue](https://cloud.githubusercontent.com/assets/6692932/21142409/f0bd7276-c10f-11e6-8cfd-d4b8676bfafd.gif)

It's possible that things have changed since the issue was open, we had a patch release in that time.

The nested example, however, is indeed

[2016-12-13 16:23] finetype commented on #106
@joshwcomeau
Still a great library. It's an incredibly hard problem to solve. We'll get it fixed sooner or later. Would you be amenable to a version with a temporary optional 'hotfix' parameter in the meantime that implements this internally, or would I be wasting my time/would you rather just wait until it's properly fixed?

[2016-12-14 04:50] alirezavalizade commented on #114
yeah sure, I just have simple infinite scroll when user scroll to bottom of page i `setState()` to data but i think problem is with `staggerDurationBy` :

[code]

[2016-12-14 11:55] joshwcomeau commented on #114
Your issue is that you're using the `index` as the key. When the list gets shuffled, FlipMove doesn't think anything's changed, since index 0 is still in position 0, index 1 is still in position 1, etc.

[2016-12-14 11:55] #114 closed

[2016-12-14 12:13] alirezavalizade commented on #114
i changed that to `item.uid` that is a unique iD but my problem not fixed !
problem is when i scroll down ,the elements render again and animation is very slow

[2016-12-14 12:16] joshwcomeau commented on #114
Sounds like wrapping your <FlipMove> instances in components that use `ShouldComponentUpdate` to prevent unnecessary renders could help? Although that shouldn't really be necessary.

To be honest I can't even begin to debug something like that without a reproduction in jsbin.

[2016-12-14 19:16] willemx opened #115 "Unexpected results with disableAllAnimations"
When rendering an array of items with `disableAllAnimations={false}` and then rerendering the list with a different array of items and `disableAllAnimations={true}` the old items are not removed (as I would expect) but stay onscreen, interspaced with the new array.
Is this as intended, or is it a bug?

[2016-12-15 02:06] joshwcomeau commented on #115
That does sound like a bug; `disableAllAnimations` should basically turn `<FlipMove>` into a `<div>` (or whatever parent element you've wrapped its children in).

Unfortunately I'm a little backlogged now, I don't really foresee having time to tackle this issue :(

Apologies, hope you can find a workaround in the meantime!

Would happily accept contributions towards fixing this issue.

[2016-12-15 15:33] willemx commented on #115
As a quick workaround, in the function `ComponentWillReceiveProps` in `react-flip-move.js`, I replaced `newChildren = this.isAnimationDisabled() ? ...` with `newChildren = nextProps.disableAllAnimations ? ...`
This seems to fix my current problem, but I'm not sure if this is the complete solution.

[2016-12-15 15:45] joshwcomeau commented on #115
@willemx Oh, I think I know what's going on. `isAnimationDisabled()` is a simple check that looks to see if `disableAllAnimations` is true, with a small optimization where it also checks if it can skip animations.

The issue is that it uses `this.props` instead of `nextProps`.

If you'd like credit for finding the issue, I'd happily accept a PR. Just pass `nextProps` to `isAnimationDisabled` and u

[2016-12-16 14:28] joshwcomeau commented on #115
Ah I lied! Slipped my mind last night.

Will tackle it shortly. Setting a reminder this time!

[2016-12-17 01:49] joshwcomeau commented on #115
Fix is published in `v2.7.3`

[2016-12-17 01:49] #115 closed

[2016-12-20 23:50] Makdash49 opened #118 "I would like divs moving up to do so in front of other divs rather than behind."
When I have a list of divs, and I move one from the bottom to the top of the list, it moves underneath the other divs until it reaches its destination.

The user is likely to have their attention on the div moving up and yet this is the div that is hidden from view.

I like how divs move to the bottom of the list.  They move down in front of the other divs.  I would like this for both divs moving

[2016-12-21 01:07] joshwcomeau commented on #118
Mhmm, z-index ordering is something I've thought a bit about.

The thing is, it's actually kind of a hard problem. There's no such thing as 1 div moving; in the example you describe, if the div is moving up, all the divs _before_ that one are moving down by 1 unit as well. How should FlipMove decide which animation is the "important" one? What if 2 divs move up and 4 move down? What if they're shu

[2016-12-26 13:47] ohjames commented on #106
At kchomp.co you can see flip move sometimes fails to remove items, even with the latest version. This leads to the list being rendered out of order sometimes also. Looks related to the discussion here.

[2016-12-26 15:05] ohjames opened #120 "On chrome mobile after 2 animations with many leaves then react-flip-move gets stuck in state where many nodes hang about that should have been removed."
Using a recent version of mobile chrome go to [kchomp.co](kchomp.co) and touch the `worldnews` link at the top followed by the `news` link as quickly as possible.

From here if you click the "news" link again you should see that a bunch of the nodes related to `worldnews` remain in the DOM. I verified with remote debugging that these nodes are no longer in `props.children`. From here clicking furt

[2016-12-26 15:12] ohjames commented on #120
I downgraded the `react-flip-move` version on [kchomp.co](kchomp.co) to `2.6.5` and no longer see the issue, I'm thinking it might have been introduced with the `2.7` series.

[2016-12-26 15:19] ohjames commented on #120
I've tried some other versions: The bug manifests in `2.6.6` but animates differently after the stuck case. Version `2.7.1` manifests the bug more violently. `2.7.3` isn't as bad as `2.7.1` but seems slightly worse than `2.6.6` when it comes to this.

So I assume it was broken in `2.6.6`, then got worse and was partially fixed between `2.7.1` and `2.7.3`. Eventually I'll stick `kchomp` on `2.6.6`

[2016-12-30 15:45] joshwcomeau commented on #120
Hi @ohjames,

Right. Interrupts have always been a little tricky, especially when an item that was in the middle of exiting is re-entered.

I can't promise I'll get to fixing it soon, I have a lot of other things vying for my attention. For now, I'd keep using `2.6.5`. I'm gonna try and roll a series of small bug fixes into a version at some point in the next month or two, will include this one.

[2016-12-30 15:52] ohjames commented on #120
Thanks for the info!

I went ahead and wrote my own react component that is very similar to react-flip-move but uses the WebAnimation API. I wouldn't have been able to do it without your great article and the links you provided on the technique. Thanks! It's easier to cancel animations and react to events with that API, which made working around this problem much easier. It also makes scheduling e

[2016-12-30 17:28] joshwcomeau commented on #120
Awesome, glad to hear it :) FlipMove's initial version was written with Web Animations API, but yeah, performance was noticeably worse, at least in the tests I did. I also didn't want to bloat the library with polyfills.

You're right, though; initially this library didn't have enter/leave animations, so the tradeoff wasn't so significant. At this point, it may be worth the tradeoff, since it woul

[2016-12-30 19:17] ohjames commented on #120
I dumped the code I'm using here for now: https://github.com/ohjames/react-flip-webanimate
I'll add some docs and make it more generic someday soon, maybe.

[2016-12-30 21:38] ohenrik commented on #74
Is it possible to add a quick comment about this in the quickstart guide? I can make a PR you you want.

[2016-12-31 00:41] joshwcomeau commented on #74
It's already mentioned in the README, [under 'gotchas'](https://github.com/joshwcomeau/react-flip-move#gotchas).

That said, you're not the first person to miss it, so maybe I ought to move that section above the API reference.

[2017-01-26 02:30] marcus433 commented on #21
I have an idea that may make more sense than checking the DOM styles. What if a prop can be provided to FlipMove that is a function for determining external offsets. Eg if a transform is already applied the component using FlipMove likely knows about it and thus by passing both the `child` and `index` in `computeInitialStyles` to the function can return its offset.

Ex (example describes a situati

[2017-01-27 07:59] donaldpipowitch opened #122 "leaveAnimation is strange with bottom aligned lists"
Hi, thank you very much for your lib. react-flip-move works really well for me in most cases where I have a normal list and every new item is added to the end of the list.

[code]

However I want to use this for notifications which animate from bottom to top. In this case my container is `position: 'fixed'` and `bottom: 0`. It looks like this:

[code]

The enter animation works fine, but the leave

[2017-01-27 11:05] joshwcomeau commented on #21
So yeah, this would work, but I really don't want to add a new API prop for something that can be done internally. I think it'd be really hard to explain succinctly in the docs, and I wanna avoid the case of having a really complex API. <FlipMove> should be plug-n-play, the user shouldn't have to worry about stuff like this.

That's in my ideal world, at least. In the meantime, I don't feel like i

[2017-01-27 11:24] joshwcomeau commented on #122
Hi @donaldpipowitch,

Thanks for the kind words :)

Gonna talk through this problem, mainly for my own benefit, but also for any contributors who want to help tackle this issue.

So yeah, the problem has to do with the fact that we're using the element's relative offset from the top of the parent. In other words:

[code]

When items are set to leave, I remove them from the DOM flow by setting `pos

[2017-01-27 11:42] donaldpipowitch commented on #122
I really appreciate the in-depth explanation for me and others here in this issue and your whole documentation in general. (Like your `CODE_TOUR.md`. Very nice!)

[2017-01-27 13:36] joshwcomeau commented on #122
ok! I've fixed this in `v2.8.0`.

Unfortunately, I wasn't able to do it in a completely "invisible" way. There's a new prop you'll need to set:

[code]

I could have hacked around this, but not without triggering a reflow. Before any items are removed, I don't have any (reasonably simple) way of knowing what the parent element's position/alignment is.

But yes. Let me know if you encounter any mor

[2017-01-27 13:36] #122 closed

[2017-01-27 20:59] donaldpipowitch commented on #122
Wow. I'm speechless. Thank you so much. I'll try it out soon!

[2017-01-27 21:00] joshwcomeau commented on #122
Happy to help =)

[2017-01-30 07:48] donaldpipowitch commented on #122
Just tested it. Works great. Thanks.

[2017-02-01 22:48] jackhopner opened #124 "Allow order of animation to be passed"
In the scenario where I have:

[code]

However I want to add a collapse button and animate from the bottom upwards, therefore it would be useful if I could pass a prop to choose the animation order when either leaving or entering e.g

[code]

[2017-02-02 17:46] joshwcomeau commented on #124
Hey @jackhopner,

So yeah, I can see the need for it, but it also seems like a very specific use-case. The implementation would be complex, I think (what happens if 2 items leave, 2 items enter, and 3 items just get shuffled around?). IMO this seems like the kind of niche that is best implemented via fork, rather than integrated into the original package.

I'll leave the issue open and see if it g

[2017-02-07 13:57] ConneXNL commented on #120
Using 2.8.0 I replicated the issue on desktop chrome. Elements that should have been removed get stuck in the DOM and start animating again each time another item is removed.

[2017-02-07 15:29] joshwcomeau commented on #120
@ConneXNL cool, thanks for the heads-up. I'm pretty busy with work but I'll try and find some time to investigate. Is it specifically when adding/removing items quickly (eg. interrupting a leave animation)?

[2017-02-07 16:02] ConneXNL commented on #120
@joshwcomeau I just clone the repo and playing with it although i never looked at the internals of FlipMove.

But what I found is that when quickly adding multiple children only the last "transitionend" (https://github.com/joshwcomeau/react-flip-move/blob/master/src/FlipMove.js#L340) callback is fired. The other "transitionend" listeners don't seem to be triggered because the transition/styles ins

[2017-02-07 16:17] ohjames commented on #120
I found something similar, the `transitionend` event doesn't fire reliably in chrome or Firefox. I'm not sure if it *can* be fixed, too many race conditions to avoid. I'm now of the opinion that this can only be reliably solved when using Web Animation objects. Best you can do with this library as it stands is throttle your updates.

[2017-02-07 16:24] ConneXNL commented on #120
@ohjames I am not 100% sure if it fires unreliably on a browser level. In my last comment I explained why this is happening. The transition never ends when FlipMove re-renders with new items as the transition doesn't actually finish.

[2017-02-07 16:28] joshwcomeau commented on #120
@ConneXNL and @ohjames thanks for digging into it.

@ConneXNL I'm not certain I follow; When adding items quickly, the `style` is updated, but the transition isn't cut off. The other items should still finish their transition (and thus trigger the callback). Maybe the problem is that it actually triggers 2 different transition events, and only accounts for 1 of them?

A future version of this proj

[2017-02-07 16:40] ohjames commented on #120
Accepting that PR is probably the pragmatic thing to do for the short term.

[2017-02-07 17:30] ConneXNL commented on #120
@joshwcomeau did I make clear that by adding multiple items I meant adding them 1 by 1 instead of multiple at once.

So I trigger multiple renders of the flipmove component.

[2017-02-07 18:47] ConneXNL commented on #120
I am using this story to test the problem:
 https://gist.github.com/ConneXNL/8797d1e6a6d60927374e3968aab7c892

Just click the add button quickly a couple times , then click the remove button.

As you see the links get out of sync.

[2017-02-07 18:55] joshwcomeau commented on #120
@ConneXNL yeah, I understood. I'm still confused about the 'why', but I understand the 'what' :)

Thanks for the reproduction. I'm super busy this week but I'll dedicate some time this weekend to debugging, and if I can't come up with a solution I'll use the setTimeout solution for now.

[2017-02-07 18:57] ConneXNL commented on #120
I edited my last comment with a potential temporary fix.

[2017-02-07 19:02] joshwcomeau commented on #120
Hm, so the problem with that fix is that I don't think it would fire off any of the callback handlers.

And no, in my own projects I've never needed to handle quick adding/removing. It's also a massive pain to write tests for this module, so the basic stuff is tested but none of the edge-cases.

[2017-02-07 20:11] ConneXNL commented on #120
@joshwcomeau thanks for your replies. I fiddled some more into the problem and found the cause of the problems.

My example from above: https://github.com/joshwcomeau/react-flip-move/blob/master/src/FlipMove.js#L106 shows how items stay in the DOM because of `transitionend` not being called. Notice how I am using the "fade" for the animations:
[code]

However, it appears that when using an the def

[2017-02-07 20:16] joshwcomeau commented on #120
Huh! That's super weird.

Thanks for digging into this. I'd be surprised if this was a React issue, it sounds like a Chrome issue. I'm gonna check to see if others have reported this issue, see if I can create a minimal recreation without react in a JSBin.

As a quick fix, I'll likely update the presets to do this weird hack, and throw a warning in the docs.

[2017-02-07 20:29] ConneXNL commented on #120
Did some more browser testing.

FireFox works completely, it even continues the actual transitions of the opacity/scaling etc without hacks.

Edge has the same problem as Chrome, but it doesn't want to be tricked. The `translate(0.001px,0)` has no effect whereas the actual the moving because of the `scale` does result in a `transitionend `.

There might be other ways to trick Edge though...

[2017-02-07 22:35] ConneXNL commented on #120
Ok, digged some more to see why we are even touching entering/leaving transitions because if we don't touch them they should just animate/call their `transitionend`.

Commenting the following lines seems to let FlipMove for me animate, and trigger its events in Chrome, Firefox and Edge without any problem:

https://github.com/joshwcomeau/react-flip-move/blob/master/src/FlipMove.js#L229-L235

What

[2017-02-07 23:19] joshwcomeau commented on #120
Right, so the issue is for shuffling, unrelated to enter/leave.

If I recall correctly, let's say we have an item moving from 0px to 50px, and halfway through we trigger another shuffle. Without that, the item being shuffled will "jump" to 50px and begin transitioning from there.

If you remove that line and shuffle quickly, is it smooth? Possible those lines have been made redundant by other chan

[2017-02-07 23:32] ConneXNL commented on #120
Tested in storybook, the lines are not made redundant by other changes. When I spam "Shuffle Items" on Enter/Leave Animations - composite > default (elevator preset) the shuffling shows unintended behavior when I uncomment those lines.

[2017-02-08 01:04] ConneXNL commented on #120
A problem might be that whenever FlipMove is rendered items that might actually still be "entering" (that don't have "entering" set to false yet) have their entering value removed on the next render.

Whereas they are then picked up by https://github.com/joshwcomeau/react-flip-move/blob/master/src/FlipMove.js#L229-L236 .

I find this all very hard to wrap my head around but I added the concept of

[2017-02-08 10:09] ConneXNL commented on #120
I take back that we need 'entered' as a prop. I think we need to get rid of 'leaving' and 'entering' as currently it seems to be possible that element has both props set to true. Having multiple status props whereas an element can only have 1 active creates room for errors.

I suggest we create a 'status' instead that can either have 'leaving', 'entering' or 'entered' as its value.

[2017-02-08 10:22] ohjames commented on #120
Impossible to see what changed in that commit, you should get your editor/IDE's `editorconfig` plugin so it'll pick up indentation/style settings on a project wide basis.

[2017-02-08 16:07] ConneXNL commented on #120
@ohjames I know, but you can ignore that commit for now as just adding entered doesn't cut it.

I am currently in the progress in overhauling the "cild status" (aka leaving/entering) and seperating this in a seperate class that keeps track of the objects. So far it's looking good but I am still testing if I broke something else.

[2017-02-08 17:59] joshwcomeau commented on #120
Yeah, good call on simplifying `entering`/`leaving` to a single prop.

Looking forward to seeing your solution @ConneXNL!

[2017-02-08 19:26] ConneXNL commented on #120
@joshwcomeau Things were coming along nicely until I hit the following CSS Transition limitation:
http://jsfiddle.net/connexnl/qq6y4aww/2/

This basically happends when you are shuffling items and React calls appendChild(). It basically cancels the ongoing transition (which looks bad) and the transitionend is never called as a result (even worse).

[2017-02-08 21:07] joshwcomeau commented on #120
@ConneXNL riiight. Yeah.

The timeout solution might be the way to go, then. Rather than relying on `transitionEnd`, we just register a timeout for `duration`ms.

The tricky thing is if the `duration` prop changes, but that seems like an uncommon usecase.

I'd also want to check what the cost of having several simultaneous `setTimeout` calls running is. I don't expect it to be high, but I'd be cur

[2017-02-09 10:10] ConneXNL commented on #120
@joshwcomeau I will give this thing a couple more hours. So far it still looks like transitionend is only not called an item is re-added and the animation breaks anyway.

I almost have something fully working (i hope) where I catch this on https://github.com/joshwcomeau/react-flip-move/blob/master/src/FlipMove.js#L229-L236 . The transition would break anyway so we might aswell remove the transitio

[2017-02-09 21:22] finetype commented on #106
I later wrote a nicer callback version, and pushing it to production was my last activity before leaving the company. Sadly, I didn't get around to saving a copy of that code. :(

[2017-02-10 13:39] ConneXNL commented on #120
After 3 days non stop: https://github.com/ConneXNL/react-flip-move/commit/5a208e018e688e51ef7b1958487616e5361f2600

I am not proud of it. There are so many edge cases to cover when you want FlipMove to work with high frequency changes.

Bottom line of all the changes:

1) Moved all the information of childeren regarding their status to a seperate class: ChildStatusTracker. Here is a list of all th

[2017-02-10 13:43] ohjames commented on #120
@ConneXNL If you can handle all the cases [my WebAnimation version of react-flip-move](https://github.com/ohjames/react-flip-webanimate) covers with transitionEnd then I'm super impressed. I spent about 20 hours trying to get it to work, constantly finding some new corner case it failed on.

[2017-02-10 13:54] ConneXNL commented on #120
@ohjames You can clone my repo and see if your use-cases /tests can break it. I focused for the most part on letting FlipMove not break during high frequency changes. There are still animations that can show wierd behavior when an item is (re)entering, leaving and moving in rapid speed.

[2017-02-10 23:59] dfunaki opened #126 "Double render of component"
Hi,  I have been trying to figure out why I am getting a double render of my component

[code]

If I put a console.log in the render method of my Card component,  I find that FlipMove renders the item twice?  I am running into an issue where the Card items that are being rendered are getting mixed up with what was rendered previously.  Has anyone else run into this issue?  Is there a way I can sto

[2017-02-11 11:15] ConneXNL commented on #120
Seems like my last commit wans't complete. I added the missing componentWillUpdate now otherwise the 'refreshing' of entering/leaving transitions wasn't working. https://github.com/ConneXNL/react-flip-move/commit/92832eba92c19f818b7a91276e088d774618f7a7 for the commit.

[2017-02-11 13:58] joshwcomeau commented on #126
Hey @dfunaki,

So, I created a simple demo here that does what you describe: https://jsbin.com/taziyifixe/1/edit?js,console,output

In that case, when the items are shuffled, their render methods are invoked twice. This is because we use a `transitionend` callback to do some cleanup once the animation is completed.

It shouldn't be causing problems though, unless you're adding and removing items v

[2017-02-14 22:24] deibeljc opened #127 "Customize re-order animation"
I have a use case where I want the re-order animation to behave like such:

when an element wants to move up the list it will essentially animate out (translate up and make opacity 0). When it "reaches" that location it will translate up into the spot and make opacity 1.

Right now the only way I could think to do this was to chain state changes where an item leaves triggering the leaving animatio

[2017-02-14 22:59] joshwcomeau commented on #127
Hm, yeah, that's a tricky one. To be honest, Flip Move wasn't really built to be a flexible, abstract tool; it exists to fluidly move stuff around on a screen when props change.

Thankfully, Flip Move provides escape hatches that _should_ make stuff like this possible. Here's what I've come up with.

### In CSS
I think the way to do this would be to use the `onStart` hook. They're given the direct

[2017-02-14 23:12] deibeljc commented on #127
@joshwcomeau ah okay cool. I will see if adding the css on the lifecycle works for me, otherwise I will play around with being able to declare via props how the movement animation behaves.

I also have been attempting to beef up the customization you can do to create a more rich and complex animation. I'll open up a separate issue regarding those to detail my requirements and changes and what-not!

[2017-02-14 23:38] deibeljc opened #128 "Beefing up the customization of the enter and leave animations"
Currently I have requirements that require a slightly more complex animation case than is currently supported. I have to have a linear delay stagger (supported) but also an "exponential" (more on this later) duration stagger. Another thing that I needed was to have separate timings for opacity and transform. You can see it in action at http://0cf638e7.ngrok.io/ (very temporary link!). Currently I

[2017-02-15 02:42] joshwcomeau commented on #128
Heya,

So, this is neat - it's great to see you add in the functionality missing for your use-case.

I don't think I'd like to implement them in Flip Move though. I already feel like Flip Move's internal complexity is too high, and the cost of maintaining these additional usecases aren't worth the relatively small number of users who need them.

I think Dan Abramov [summed it up perfectly](https:/

[2017-02-15 02:42] #128 closed

[2017-02-15 02:45] joshwcomeau commented on #127
Yeah, so if you're already taking the time to fork Flip Move, it's probably easier to just add support for it that way. I'm not entirely sure what the best way would be, but you can probably add a `shuffleAnimation` prop that behaves like `enterAnimation`.

Going to close it as it's not a bug nor a feature I plan on implementing, but please do follow up and let me know what you wound up doing.

(a

[2017-02-15 02:45] #127 closed

[2017-02-15 02:45] joshwcomeau commented on #126
Closing this as I haven't heard back. Feel free to follow up.

[2017-02-15 02:45] #126 closed

[2017-02-15 02:46] joshwcomeau commented on #124
So yeah, sounds like this isn't too common of a situation. Going to close this issue, as I don't plan on adding this functionality any time soon.

Sorry, and best of luck!

[2017-02-15 02:46] #124 closed

[2017-02-15 03:18] deibeljc commented on #128
Cool links, thanks for showing me that! As a quick question -- do you expect any breaking changes that will need addressed when react fibre is released? I only ask because I want to minimize my team's upgrading pain if possible

[2017-02-15 14:32] joshwcomeau commented on #128
@deibeljc excellent question - I don't _think_ so. I've read that the only potential consequence is that `componentWillMount` can be called multiple times. FlipMove doesn't use that lifecycle hook though.

As long as Fibre doesn't try to incrementally render part of the children, which it shouldn't, we shouldn't have any issues. That said, this is very much a guess based on what I currently know.

[2017-02-15 15:01] dfunaki commented on #126
Hi Joshua,

  I am sorry I haven't been able to follow up just yet.  Things have been a
little busy.  When I have a chance I will reopen this

-Dan

On Tue, Feb 14, 2017 at 9:45 PM, Joshua Comeau <notifications@github.com>
wrote:

[2017-02-16 00:42] deibeljc opened #129 "No enter animation on first render"
One thing that bothers me is that I have to set my components list state on componentDidMount in order to get the enter animation to trigger. Is this the expected behavior? If so, how hard would it be to change it to play the enter animation on first render?

[2017-02-16 22:20] joshwcomeau commented on #129
Right, so this is the expected behaviour - Similar to React CSSTransitionGroup, there's a distinction between `enter` and `appear`. The only difference is we never implemented `appear`, lol.

If you or anyone would like to create a PR for it, I think it's worth having :) It would be a new prop, `appearAnimation`, that would function like `enterAnimation` and `leaveAnimation`, but would only trigge

[2017-02-17 00:11] deibeljc commented on #129
I'm on it! @joshwcomeau

[2017-02-17 01:08] deibeljc commented on #129
So should the API be that you can define your own appearAnimation or should it just use the enterAnimation? I have a basic version working right now but it is using the enterAnimation values for the animation.

[2017-02-17 01:30] deibeljc commented on #129
See [PR 130](https://github.com/joshwcomeau/react-flip-move/pull/130) for the code changes 😄

[2017-02-18 15:24] MarcMagnin opened #131 "[Question] filtering large data set with virtualization"
Hi,

I was wondering if that could be possible to intergrate react-flip-move with some virtualization such as:
https://bvaughn.github.io/react-virtualized/#/components/Collection

The idea would be to present a lot of items (let say 30K images to represent) and been able to virtualize them (not rendered outside of the view) and add the nice and smooth filtering animations such as https://www.kunka

[2017-02-18 15:37] #118 closed

[2017-02-18 15:51] joshwcomeau commented on #131
Hey there,

Yeah, that won't work, lol.

I think it would be possible to build a solution that could handle it, but it would need to be custom-built. I can think of a few things that would make it challenging, but I think it's possible in theory.

I checked with react-virtualized and they don't have any built-in solutions for animations. Brian Vaughn describes a potential solution [here](https://g

[2017-02-18 15:51] #131 closed

[2017-02-18 18:57] joshwcomeau commented on #129
Merged! Released under `v2.9.0`

Thanks @deibeljc!

[2017-02-18 18:57] #129 closed

[2017-02-25 05:09] martinklepsch opened #132 "Dynamic animations depending on user action"
Hey :)

I was wondering if there is a way to animate stuff in a carousel like manner, i.e. slide to left of I click "next" and slide to right if I click "previous" ([here's an example](https://sachinchoolur.github.io/lightGallery/)).

I see that this isn't quite the list example used in the demos but just wanted to check if I'm missing something or this is just not in the scope of `react-flip-move

[2017-02-25 13:21] joshwcomeau commented on #132
Hey @martinklepsch!

Interesting question!

The smart advice is to use a solution that targets this problem. I haven't used it personally, but [Nuka Carousel](http://kenwheeler.github.io/nuka-carousel/#/) looks pretty good. Ken Wheeler's a BAMF, so I'd trust that it works pretty well.

Flip Move _theoretically_ should be able to handle this use-case, you'd just have to build out a lot of the funct

[2017-02-25 13:22] joshwcomeau commented on #132
Closing this, since it's not a bug report, nor something I'm likely to tackle (I [don't really like carousels](https://conversionxl.com/dont-use-automatic-image-sliders-or-carousels-ignore-the-fad/)).

Let me know how it goes if you do decide to use FlipMove though!

[2017-02-25 13:22] #132 closed

[2017-02-26 10:05] martinklepsch commented on #132
@joshwcomeau thanks for the pointers Josh! My ultimate goal isn't actually to build a carousel but rather be able to dynamically determine what specific animation to use for a given enter/leave animation. Cheers!

[2017-03-15 10:00] macrozone opened #133 "under phantomjs items are not removed from dom"
I show a list of elements as children in a FlipMove-component.

In a end-to-end-test elements got added to this list and got removed.
I therefore have assertions on the number of items in this list.

When I run this test under chrome, the number of items is correct and the test succeeds. When I run it under phantomjs however, the items are not removed from the dom.

My workaround at the moment is

[2017-03-15 18:24] joshwcomeau commented on #133
Weird; I'm not super familiar with PhantomJS, but I was under the impression it was just a headless webkit engine. It should still be able to work in that environment...

While your workaround isn't ideal, it'll have to do; I don't think I'll be able to dedicate any time to this for a while. If anyone else wants to take a shot at fixing it, feel free!

[2017-03-15 22:53] rhys-vdw commented on #133
Hi @macrozone. We're also using ReactFlipMove with PhantomJS. We have this script set up for our testing environment:

**`test_helper.rb`**
[code]

**`phantomjs-disable-animations.js`**
[code]

This script predates our use of ReactFlipMove (and my working on the project) but suggests general problems with CSS animations in PhantomJS.

[2017-03-16 09:28] macrozone commented on #133
Hi @rhys-vdw, thanks for your solution!

We now found a much better solution by using firefox headless instead of phantomjs,
which seems to be more reliable.

for anyone interested, we run the tests under gitlab-ci and use this docker file there:
https://github.com/Blurri/meteor-node/blob/master/Dockerfile (for meteor)

you need to add this to the gitlab-ci.yaml:

[code]

[2017-03-16 14:21] joshwcomeau commented on #133
Going to close this because it sounds like a solved issue. Thanks for sharing @rhys-vdw!

[2017-03-16 14:21] #133 closed

[2017-04-06 12:40] lumio opened #135 "Accept non-string as typeName + rename typeName to component"
FlipMove currently doesn't accept components as typeName. But I would love to use `styled-components` with it.

[2017-04-06 12:43] lumio opened #136 "Transition property gets overwritten"
I am trying to animate a box-shadow on each element when appearing.
This is not possible, since transition is being overridden.

[2017-04-07 04:27] joshwcomeau commented on #136
Indeed! This is listed in the [known issues](https://github.com/joshwcomeau/react-flip-move#known-issues). It's a hard one to fix.

An easy workaround is to just nest your items in a div:

[code]

[2017-04-07 04:27] #136 closed

[2017-04-07 04:36] joshwcomeau commented on #135
Hm. So, the reason `typeName` exists is just to prevent illegal DOM structures (like, if you want your animated items to be `li`s, the wrapping element needs to be a `ul` or `ol`).

The `<FlipMove>` wrapper is meant to be as invisible as possible; when React 16 comes out, I'd love to pen a version that doesn't need a wrapping div (Fiber will support returning arrays of elements, so this should be

[2017-04-07 07:48] lumio commented on #135
I see! Well, I think just changing the propType won't do, since flip-move will break when trying to call `node.getBoundingClientRect`. Which makes sense, since I'm appending a react component (in this case a styled component).

As for React 16: Finally ❤️😀

[2017-04-07 07:51] lumio commented on #136
What do you think of using some sort of replace-mechanism, that checks if a transition is in place, and if so flags it or clones it to be replaced later on?

As for your solution: Sounds fine to me!
Thank you

[2017-04-07 14:35] joshwcomeau commented on #136
Ah, so I sorta-misunderstood your issue last night! My bad.

The hard issue to fix is when you want competing `transforms` (eg. `scale`). Wanting a custom `transition` isn't something I've thought much about.

Yeah, so your suggestion makes sense; we can read the initial value from the node on mount, and revert to that after all transitions have completed. I'm hesitant to implement it, though, bec

[2017-04-07 14:57] joshwcomeau commented on #135
Ahh, right, yeah. We need to get the parent's boundingBox so that we can get relative boxes for the children.

So yeah, I'd just nest the FlipMove inside your styled component :+1:

[2017-04-07 14:57] #135 closed

[2017-04-09 07:25] frol opened #137 "How to highlight the recent changes?"
Could you please give any tip on how to highlight the recent reorderings? I am implementing a ranking table, and I would love to highlight with background color the line which moved up (or down).

The move up/down animation works fine, but it would be even nicer if I improve the readability even further by adding green background to the items that moved up and red background to those which moved d

[2017-04-11 17:28] frol commented on #135
I am using React-MD, which has custom tables components and while using plain `<table>`/`<FlipMove typeName="tr">` works fine, I cannot use the custom `TableRow` component, and given the fact that it is a table and there is no way to simply wrap things with an extra div, I would love to hear how I can workaround this limitation (I bumped into the `node.getBoundingClientRect`)

[2017-04-11 21:00] frol commented on #135
I have worked around the missing `node.getBoundingClientRect` on the react component by defining it there. Basically, you may either patch or inherit the component:

[code]

[code]

[2017-04-12 11:06] joshwcomeau commented on #137
Hey @frol,

Hmm.

If a simple shuffle is happening, it's easy enough; I can check the array index of the item before and after the change, and assign an 'ascending'/'descending' prop.

But, what if an item is added into the middle of the list?

[code]

In this case, `'e'` isn't really ascending or descending, it's entering. Also, `'c'` and `'d'` are both descending, which I suppose makes sense...

[2017-04-12 11:08] joshwcomeau commented on #135
Clever! Yeah, that makes sense. As long as the supplied component "behaves" like a DOM Node in this regard, Flip Move will happily accept it.

[2017-04-12 11:13] frol commented on #137
Yes, this makes sense and it is fine for me.

Sure, no problem. I didn't expect any solution right away, nevertheless, I thought it is worth to express the need rather to just silently wait for a miracle :)

I have actually hacked around this issue by watching the ascending/descending and setting the classes manually.

[2017-04-13 14:34] astanciu opened #138 "React 15.5 PropType deprecation warnings"

[2017-04-14 11:26] joshwcomeau commented on #138
Hmm.

So, the solution to this problem is to use the `prop-types` package instead of importing them from `react`.

The `prop-types` package is only compatible with React 15 and the just-penned release of 0.14.9.

Lamely, I think this would need to be a major version bump, to avoid breaking things for users who use 0.14.8 and earlier. Which is annoying, since likely another major version bump will

[2017-04-17 15:33] atabel commented on #138
@joshwcomeau I think it doesn't need a major version bump because it will only break in development (React doesn't check proptypes in production builds). And the developer will be linked to http://fb.me/use-check-prop-types doc.
Other libs have done the change without releasing a major version:
https://github.com/bvaughn/react-virtualized/commit/5ef244538fdcf47fda8529d659f9001b81aafc16

[2017-04-18 16:55] joshwcomeau commented on #138
Ah, thanks for the info @atabel

Actually, now that I think about it, I think I'd rather just replace prop-types entirely with Flow. Going to open an issue and hopefully tackle that within the next week or two.

[2017-04-18 16:56] joshwcomeau opened #139 "Replace PropTypes with Flow"
I've been using Flow on other projects, and I like it.

If anyone wants to lead this change, lemme know. Otherwise I'll likely tackle it in the next couple weeks.

[2017-04-19 22:24] natew opened #140 "Destroys ref prop passed to children"
[code]

Ref wont callback here at all. But if you move it outside of map it works just fine!

[2017-04-20 06:49] obituz opened #141 "Animations with position:sticky / scroll position update"
Hi,

i'm currently trying to add sticky headers to a large list of elements. Due to `position: sticky` the animations get broken / look weird. Is there a workaround to handle these kinds of elements? Maybe by setting the position temporarily to `relative` during the animation phase?

And another question regarding the scroll position:
I use react-flip-move to sort "favorite" items to the top of a

[2017-04-20 13:43] joshwcomeau commented on #141
Hey @obituz,

Hm, I haven't done any testing with `position: sticky`. If you could create a story in the `stories` directory that showcases the issue (in `github-issues.stories.js`), it'll help me poke around with it :)

That said, I'm at an airport now, heading to the states for a few days for a wedding, so it's unlikely that I'll be able to tackle this shortly.

As for updating scroll position t

[2017-04-20 13:45] joshwcomeau commented on #140
Hm, you shouldn't be able to assign refs on children passed to FlipMove anyway - FlipMove clones the set of children you provide and overwrites the ref.

What is it that you're trying to do exactly?

[2017-04-20 15:42] natew commented on #140
I need to call methods on the children to do various things with them. An
example is focusing their text input on the item you click.

On Thu, Apr 20, 2017 at 6:45 AM Joshua Comeau <notifications@github.com>
wrote:

[2017-04-21 13:44] joshwcomeau commented on #140
Yeah, so as long as the ref isn't on the direct child, everything should be fine.

[code]

You can (and maybe should) also extract the input into its own component.

[code]

[2017-04-21 17:55] natew commented on #140
Yea the input is in a component. I am calling focus on the parent
component. But good point I guess I can nest it, confusing to figure out
though would be good to document.

On Fri, Apr 21, 2017 at 6:44 AM Joshua Comeau <notifications@github.com>
wrote:

[2017-04-23 13:59] joshwcomeau commented on #140
Yeah, I can see how that'd be confusing. We could add it to the "Gotchas", although I don't know how much good that does; it isn't a place people typically check when experiencing an issue.

Maybe we can add a console warning if FlipMove detects a pre-existing ref on a supplied component.

Would be a great contribution if you or anyone else reading this wants to take it on :)

[2017-04-23 15:33] natew commented on #140
Yep that or it could take a function as children possibly which I think
avoids that problem as well.

On Sun, Apr 23, 2017 at 6:59 AM Joshua Comeau <notifications@github.com>
wrote:

[2017-04-25 12:12] obituz commented on #141
Hi @joshwcomeau,

added the story in #143. I think the "shuffle" command shows the animation problem.
Thanks for your help.

[2017-04-27 02:02] joshwcomeau commented on #141
Awesome, thanks @obituz.

At first I thought the issue was that it was really glitchy and stuttery, but that turned out to just be because there were so many items. By reducing it to 20 items, I think I have a better understanding of the issue.

I think the issue is either a complication between `position: sticky` and `getBoundingClientRect`, a complication between `position: sticky` and `transfor

[2017-05-02 15:18] Hypnosphi commented on #139
I think I can do that

[2017-05-02 21:10] Hypnosphi commented on #139
OK, there is a problem.

[Here](https://github.com/joshwcomeau/react-flip-move/blob/master/src/prop-converter.js#L127) `propTypes` keys are used in runtime to determine which props should be delegated to the DOM element. This isn't really achievable with static typechecking.

Would it be OK to keep an array of FlipMove-specific prop keys in a separate variable and keep it in sync with props typing

[2017-05-03 01:13] Hypnosphi commented on #139
OK, I think I found a better solution: https://github.com/joshwcomeau/react-flip-move/pull/145/files#diff-ecdb6cdeb1de0c9f5925708a2be17e73R122

[2017-05-03 15:29] joshwcomeau commented on #139
Right, yeah that's tricky.

I like your solution, though!

I'm wondering if we ought to keep some PropTypes as well, as a helpful indicator to developers using FlipMove. Flow is great for contributors to FlipMove, but it offers no runtime notifications for developers who may be using FlipMove incorrectly.

I don't think it's that big a deal - we already log warnings when developers do things they

[2017-05-03 16:13] Hypnosphi commented on #139
I'll make another little PR which would just replace `React.PropTypes` with `prop-types` package then

[2017-05-03 18:46] JellyKid opened #147 "Animations not rendering, array items have unique keys"
I can see positions clearly switch but no animations happen and no classes are applied. Is there something I can do to debug this?

[code]

[2017-05-03 19:07] JellyKid commented on #147
![array](https://cloud.githubusercontent.com/assets/8331976/25676892/d57ff904-3011-11e7-9b29-64b881ce72e8.png)

I decided to try and log "statRows" right before the render function and I can see array elem 0 and 1 flip but no animation. Stupid question, but do I need to install the CSS separately?

[2017-05-03 19:14] joshwcomeau commented on #147
Hey there,

So, I _think_ the issue is the tables.

FlipMove works by setting `transform: translate` on the node to artificially position it. AFAIK you can't use `transition` on `<tr>` or `<td>` nodes.

The solution in this case would be to use `<div>` (or similar block containers). Which is kind of a lame answer, I know, since `<table>` may be the most semantic way to mark up your code. Unfortuna

[2017-05-03 19:49] JellyKid commented on #147
So I made everything a ```<div>``` and I'm still not seeing the animation. Maybe react is re-rendering ```<FlipMove />``` for some reason.... IDK. If there is anything else you would like me to try let me know.

![divs](https://cloud.githubusercontent.com/assets/8331976/25678394/918e636a-3017-11e7-8e8e-1b11766cb057.png)

[code]

[2017-05-03 22:23] joshwcomeau commented on #147
Hmmm... Weird.

Off the top of my head, everything looks right. It looks like there are some console errors in that screenshot, could they be related?

If not, I'd try simplifying it until it works. What if you do this:

[code]

[2017-05-04 14:20] JellyKid commented on #147
```easing='ease-out'``` not ```easing='easing-out'```

Boy do I feel dumb, that took me way longer than it should have to figure out. Sorry to have wasted your time. I didn't see an error about having an incorrect easing prop so maybe that would have helped but the fault is all mine on that one.

[2017-05-04 14:20] #147 closed

[2017-05-04 14:44] joshwcomeau commented on #147
No worries! I didn't catch it either. Happens to us all, haha.

Sucks when the answer is right in front of you but you miss it.

As for a warning when an invalid easing is specified... Can definitely see how that'd be helpful. The only reason I'd hesitate is that Flip Move isn't really concerned with that, I delegate whatever you provide to CSS and CSS decides if it's valid or not. Plus then I'd h

[2017-05-05 13:48] everdimension opened #148 "Use DOM children instead of findDOMNode"
Hi! I saw this issue (https://github.com/joshwcomeau/react-flip-move/issues/89) but it looked to me like the discussion was going in the wrong direction.

I don't see why you need refs at all when you have `node.children`.

So based on your [current code](https://github.com/joshwcomeau/react-flip-move/blob/25c0a2af0199567f30dcab54a0a086b56c6f4ebd/src/FlipMove.js#L620) you could access all of the c

[2017-05-05 13:49] everdimension commented on #148
I'd be happy to hear your thoughts on this and perhaps start a PR if this change is welcome.

[2017-05-05 22:00] joshwcomeau commented on #148
Hmmm... That does seem a lot better!

The reason I did it this way was to maintain React's abstraction over the DOM.

[2017-05-05 22:13] joshwcomeau commented on #148
Ok, I have some thoughts!

(It's also Friday evening and my brain's a little fuzzy, so apologies in advance if this doesn't make total sense.)

So the reason it's done using `findDOMNode` is to try and maintain React's abstraction over the DOM. I'm not sure if it'd be feasible to read from the DOM during each render (AKA right before each animation begins). We'd have to test that.

Also, I think w

[2017-05-06 15:31] #138 closed

[2017-05-06 15:47] joshwcomeau commented on #47
Doing some cleanup. I don't foresee having the time to work on this, and nobody else has nabbed it. Feel free to reopen if someone wants to look into it :)

[2017-05-06 15:47] #47 closed

[2017-05-06 21:55] drhectapus opened #149 "Leave animation moves up too high"
Loving the plugin so far, but have an issue with the leave animation. It pushes the child component (in this case, a <tr> element) up and to the left. How do I get it to fade in it's current position?

App: https://twitch-react-drhectapus.herokuapp.com/

[code]

[2017-05-07 13:21] joshwcomeau commented on #149
Hey there,

Ok, so I poked around on your web app (cool project, by the way!). The problem appears to be with `<tbody>` tags not respecting CSS positions.

#### Short version
FlipMove doesn't work great with HTML tables. The recommended approach would be to use `<div>`s instead of tables. I recognize that this is a lame suggestion, though, since tables are the most semantic markup for what you're

[2017-05-09 12:02] drhectapus commented on #149
Hey @joshwcomeau

I implemented your fix by removing the tbody and thead tags and it's working a lot better in that it's exiting at the same height level now. But the leave animation is still fading out to the left slightly.

App: https://twitch-react-drhectapus.herokuapp.com/

[2017-05-10 11:08] joshwcomeau commented on #149
Hey @drhectapus,

So yeah, it looks like this is simply a limit with HTML tables :( When you apply `position: absolute` to a `<tr>`, it "undoes" all the table logic of spacing out the cells evenly.

It makes sense, in a way; `tr` works by aligning with other `tr`s in the same table, and when you set something to `position: absolute`, you take it out of that flow, so all the cells collapse.

I thin

[2017-05-12 05:46] obituz commented on #141
Hi @joshwcomeau,

sorry for my late answer. Thanks for your help and the explanation. We'll try to either manage it by manually stickyness or leave it out. You/PM can't have everything ;)

[2017-05-12 05:46] #141 closed

[2017-05-15 15:59] abharvey opened #156 "ReferenceError: requestAnimationFrame is not defined"
I have just updated to 2.9.10 and now get this error when running tests in Jest.

    ReferenceError: requestAnimationFrame is not defined

      at FlipMove.animateChild (node_modules/react-flip-move/lib/FlipMove.js:376:7)
      at node_modules/react-flip-move/lib/FlipMove.js:82:15
      at Array.forEach (native)
      at FlipMove._this.runAnimation (node_modules/react-flip-move/lib/FlipMove.js:7

[2017-05-15 18:13] kentcdodds commented on #156
I ran into this as well. I'm assuming this is because `react-flip-move` recently moved to `requestAnimationFrame` (or removed their polyfill). You could argue that this should have been a major version bump (which I believe it should have been). But in any case, you should probably be polyfilling this API anyway for your app. And In tests (like with Jest), I'm pretty sure this would be sufficient:

[2017-05-15 18:17] kentcdodds opened #157 "Flow type complains about several issues with react-flip-move"
Like [this one](https://github.com/joshwcomeau/react-flip-move/blob/master/src/enter-leave-presets.js#L61)

[code]

I'm pretty sure you should be able to remove that. Actually, there are quite a few flow-related issues. I think it may be best to remove `src` from the `package.json`. But I could be wrong. I've not done much with flow in OSS yet...

Here are all the errors I get:

<details>
<summary

[2017-05-15 18:18] kentcdodds commented on #157
For anyone else running into this, I get around this with this in my `.flowconfig`:

[code]

[2017-05-15 18:23] joshwcomeau commented on #156
Hmmm... So Flip Move has been using `requestAnimationFrame` from the beginning, and we've never polyfilled it (the compatibility table in the README takes this into account).

Super strange that `2.9.10` caused Jest tests to fail - that change just restricted the number of console warnings to 1 per type.

So for me, the mystery isn't why the error is being thrown (since, as @kentcdodds points out,

[2017-05-15 18:27] kentcdodds commented on #156
Thanks @joshwcomeau! Really strange this started happening. I haven't upgraded Jest yet, so I don't expect it to be that...

[2017-05-15 18:28] joshwcomeau commented on #157
Hi @kentcdodds,

Thanks for pointing this out. We only recently type-annotated our source, and it hadn't occurred to me that Flow would run within node_modules in others' projects.

But you're right, it probably makes sense to drop `/src` from the distributed NPM package. I can't imagine this being problematic, but I'll still start with a beta release and try it on a side project myself, to be sur

[2017-05-15 19:07] abharvey commented on #156
@joshwcomeau Very interesting. I started on 2.9.1 and reverted to it for now. When I have some more time I'll investigate further on what else could change in that regard. I will try @kentcdodds fix asap and let you know what happens

[2017-05-15 19:09] Hypnosphi commented on #157
Those come not only from `src` but also from `lib/*.flow.js`, which is quite useful to keep, because it gives type info to flow users. I think we should fix the warnings and update the flowconfig instead

[2017-05-15 19:19] Hypnosphi commented on #157
@kentcdodds I need a way to reproduce the errors. Which version of Flow do you use and what's your `.flowconfig`?

[2017-05-15 19:30] joshwcomeau commented on #157
Ahh, right. Looking at the errors shared, some are indeed coming from `/lib`.

I'm obviously not terribly experienced with Flow, but is this something we could use [Flow Typed](https://github.com/flowtype/flow-typed) for? To share the type definitions separately from the library itself, so that non-flow users don't have anything unneeded shared?

[2017-05-15 19:34] Hypnosphi commented on #157
Flow typed is for libraries not themsleves written with flow. Sharing the untranspiled sources is the recommended way to share flow typings

[2017-05-15 19:36] kentcdodds commented on #156
My polyfill didn't really quite do it, I ended up just using [this](https://gist.github.com/paulirish/1579671)

[2017-05-15 19:37] kentcdodds commented on #157
Hmmm.... Interesting. Is that recommendation documented anywhere? I have an issue with distributing untranspiled sources.

[2017-05-15 19:53] Hypnosphi commented on #157
Unfortunately, [not really](https://github.com/facebook/flow/issues/1996#issuecomment-230919868)

[2017-05-15 20:06] kentcdodds commented on #157
Sorry, just saw your request for the `.flowconfig`. Here it is:

[code]

[2017-05-15 20:41] Hypnosphi commented on #157
Looks like you're using some pre-0.33.0 version of Flow which had [`esproposal.class_instance_fields`](https://flow.org/en/docs/config/options/#toc-esproposal-class-instance-fields-enable-ignore-warn) set to `warn` by default (now it's `enable`). We could override that in our `.flowconfog`, but unfortunately Flow would [ignore](https://github.com/facebook/flow/issues/238) that. So maybe we need to

[2017-05-15 20:55] Hypnosphi commented on #157
That's what's generated:  https://gist.github.com/Hypnosphi/e60e71431edabe305028c49b3de450f3
I don't really like it =(

[2017-05-15 21:43] scamden commented on #120
was there ever a resolution here?

i'm running into this problem and it's resulting in users clicking a filtered option they didn't intend to since the opacity : 0 element is overlaid directly on the intended option.

[2017-05-15 21:45] ohjames commented on #120
@scamden nope I ended up writing my own version using WebAnimations. You can try that if you want.

[2017-05-15 22:08] scamden commented on #120
@ohjames would love to. the repo said it's not ready for general use tho.. are you saying it may be ready?

[2017-05-16 00:31] Hypnosphi commented on #157
https://github.com/flowtype/flow-typed/pull/844

[2017-05-16 07:06] ohjames commented on #120
@scamden I've been using it in a production site for several months now. It only supports vertical animation for now. And the browser needs WebAnimations or a polyfil.

[2017-05-16 17:45] scamden commented on #120
ok thanks i'll give it a shot

[2017-05-17 11:16] joshwcomeau commented on #120
Yeah, I haven't been able to give this issue the attention it deserves. Sorry about that!

Totally open if anyone wants to take a crack at solving it :)

[2017-05-17 11:24] joshwcomeau commented on #157
Thanks for addressing this @Hypnosphi! I'm happy with the solution that was landed on :D

[2017-05-17 17:04] scamden commented on #120
Given the amount of time spend documented in these comments I'm honestly
scared to, seems like a very tough issue
On Wed, May 17, 2017 at 4:16 AM Joshua Comeau <notifications@github.com>
wrote:

[2017-05-17 20:22] ohjames commented on #120
I say we port this library to WebAnimations or improve my version that already uses WebAnimations. IMO this just can't be done without them, at least not with so many hacks that the code becomes readable. I don't care which people do but that's some good advice there from someone who has spent more than 30 hours on this issue across 3 projects now. Aurelia, a fairly popular framework, still suffer

[2017-05-17 21:12] AlexanderOtavka opened #159 "Add .d.ts typings file for TypeScript users"
I've done a little research, and I can't find a way to generate .d.ts files from flowtype files, although going the other direction seems doable.  Ideally, we could generate these typings from our flowtype information so TypeScript users can get the same benefits of static typings and we wouldn't have to maintain separate typing information for TypeScript that could fall out of date.

[2017-05-17 21:37] Hypnosphi commented on #159
I think I can do it this weekend. And I don't think that supporting both flow libdef and d.ts typings is a real issue, because it's only API surface, which shouldn't change on patch releases

[2017-05-20 10:10] joshwcomeau commented on #120
Yeah, so the future is 100% WebAnimations API. It still has essentially no browser support, though, and from what I remember the polyfill is both larger than FlipMove itself, and isn't as performant. I could be mistaken, but I remember when I tried it, it was noticeably choppier than the current implementation. For an animation library, that's a big deal, lol.

I imagine once the browsers implemen

[2017-05-20 10:14] ohjames commented on #120
WebAnimations are only slightly slower in Chrome. After making the library only animate nodes that are scrolled into view it performs more than adequately in Firefox/Chrome. Safari though... Safari sucks at everything. *grumbles*

[2017-05-24 13:58] joshwcomeau commented on #159
Thanks for tackling this @Hypnosphi!

As stated in #160, I don't have the experience to properly review the typings. If anyone else sees this and can lend a hand, I'd appreciate it! Otherwise they'll ship in the next patch release and any Typescript issues can be subsequently addressed.

[2017-05-24 13:59] joshwcomeau commented on #159
Also, if there is a way to generate Flow typing from Typescript, it may be worth investigating, to reduce the risk of them getting out of sync? But yeah it's not a major issue IMO since the surface API doesn't change often.

[2017-05-24 14:02] Hypnosphi commented on #159
I'm not a big fan of such an automation, honestly. The quality will suffer

[2017-05-24 14:15] joshwcomeau commented on #159
Fair enough! I'm happy to not try to overengineer it.

One concern I have is that I may forget to update typescript definitions before a minor or major release... maybe I can look into adding a prepublish hook that prompts the publisher on non-patch releases to check that typescript and flow annotations are both updated

[2017-05-24 23:14] #159 closed

[2017-05-24 23:15] #157 closed

[2017-05-25 14:40] hegelstad opened #161 "leaveAnimation bug"
Issue:
 - For removed items that are not be replaced by another item, the leave-animation doesn't run correctly. The removed items are instantly disappearing except for the left border of the item, the left border is then disappearing after the duration as expected.

Context:
 - Items that are removed, but replaced with another item are animated correctly.
 - I use overflow:auto on the div which c

[2017-05-25 15:00] hegelstad commented on #161
For anyone interested;

It is solved by making sure the parent of the grid is set to width:100%, the animations are hidden because the width is lowered instantly before the animation has time to be shown.

[2017-05-25 15:00] #161 closed

[2017-05-25 23:59] Hypnosphi opened #162 "Tests refactoring checklist"
Initially, I created a [project](https://github.com/joshwcomeau/react-flip-move/projects/2), but then I realised that it's not commentable so maybe an umbrella issue with checklist would be more useful, so I duplicate it as such.

@joshwcomeau has [mentioned](https://github.com/joshwcomeau/react-flip-move/pull/151#issuecomment-301244708) that he would like to have some improvements. So I decided t

[2017-05-26 11:15] Hypnosphi commented on #148
There is a way, but it's not a public API and may change at any time, so we shouldn't use it

[2017-05-26 11:26] Hypnosphi commented on #89
What do you guys think about wrapping every child in a div (or an optional user-provided tag) inside FlipMove's render, as Dan Abramov [suggests](https://github.com/yannickcr/eslint-plugin-react/issues/678#issuecomment-232293175) for a similar case of HOCs? This off course would be a breaking change, but looks like it may become the only suitable option eventually, when [fragment API](https://gith

[2017-05-26 18:46] joshwcomeau commented on #89
I was actually thinking about this myself a few days ago. The big caveat is that it would cause even more problems for people when the markup is important (grids, flexbox, tables, etc).

For fragments, we could insist that, for direct children of FlipMove, a single top-level child be returned... Since, even if we do wrap it in a `<span>`, we'd be wrapping _all_ of the children, instead of wrapping

[2017-05-26 19:06] Hypnosphi commented on #89
I think it's actually an expected behaviour, as long as we don't embrace #148's approch and keep using react children as animated entities. The component's representation being more than one dom element is just an implementation detail

Only the latter

[2017-05-26 19:25] Hypnosphi commented on #89
For such cases, if just redefining the wrapper's tagname isn't sufficient, there should be a possibility to opt out of implicit wrapping. In that case, user should explicitly wrap each child into some dom element as suggested above